-if user_signed_in? && current_user.can_create_schemas?
  %h2 Servicios por aprobar.
  - if @pending_services_version.nil?
    No hay servicios pendientes de aprovar.
  - else
    %table
      %thead
        %tr
          %th Nombre
          %th Organizacion
          %th{:colspan => "3"}
      %tbody
        - @pending_services_version.each do |s|
          %tr
            %td= s.service.name
            %td= s.service.organization.name
            %td= link_to 'Revisar', [s.service.organization, s.service, s]
