.instance-panel
  .container
    .col-md-12{:class => "text-center"}
      %h1
        Directorio de Servicios
      .form-group.col-md-6.container-form
        = form_tag(search_services_path, method: "get") do
          .inner-addon.left-addon
            %i.glyphicon.glyphicon-search
            %input#search-schema.form-control{:value => @text_search, :type => "text", :name => "text_search"}/
.container.no-gutter
  .row.no-gutter
    .col-md-12.schema-wrapper.text-left
      = content_tag(:p, "No se han encontrado resultados",
        class:"text-center") if @services.empty?
      = render partial: "boxes", locals: {services: @services}