.container
  %h1 StaticPages#visual_components
  %p Bootstrap components 

  %h1 Buttons
  %hr

  %a.btn.btn-default{:href => "#", :role => "button"} Button Default
  %a.btn.btn-primary{:href => "#", :role => "button"} Button Primary
  %a.btn.btn-success{:href => "#", :role => "button"} Button Success
  %a.btn.btn-info{:href => "#", :role => "button"} Button Info
  %a.btn.btn-warning{:href => "#", :role => "button"} Button Warning
  %a.btn.btn-danger{:href => "#", :role => "button"} Button Danger
  %br
  %br
  %a.btn.btn-static{:href => "#", :role => "button"} VERSIÓN SIGUIENTE
  %a.btn.btn-action-red{:href => "#", :role => "button"} Ver OAS
  %br
  %br
  %a.btn.btn-static.btn-lg{:href => "#", :role => "button"} VERSIÓN SIGUIENTE
  %a.btn.btn-action-red.btn-lg{:href => "#", :role => "button"} Ver OAS
  %br
  %br
  %h3 Single button dropdowns
  %hr

  .bs-example{"data-example-id" => "single-button-dropdown"}
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Default
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Primary
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Success
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Info
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Warning
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Danger
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
  %br

  .bs-example{"data-example-id" => "single-button-dropdown"}
    .btn-group
      %button.btn.btn-static.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Versión Siguiente
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-action-red.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Ver OAS
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    %br
    %br
    .btn-group
      %button.btn.btn-static.btn-lg.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Versión Siguiente
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-action-red.btn-lg.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Ver OAS
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
  %br
    %h2 Button Previews
    %hr
    %p
      %button.btn.btn-action-red.btn-lg Large Button
      %button.btn.btn-action-red.btn-lg.active Active
      %button.btn.btn-action-red.btn-lg.disabled Disabled
    %p
      %button.btn.btn-action-red Default Button
      %button.btn.btn-action-red.active Active
      %button.btn.btn-action-red.disabled Disabled
    %p
      %button.btn.btn-action-red.btn-sm Small Button
      %button.btn.btn-action-red.btn-sm.active Active
      %button.btn.btn-action-red.btn-sm.disabled Disabled
    %p
      %button.btn.btn-action-red.btn-xs Mini Button
      %button.btn.btn-action-red.btn-xs.active Active
      %button.btn.btn-action-red.btn-xs.disabled Disabled
    %h2 Rounded Buttons
    %hr
    %p
      %button.btn.btn-action-red.btn-lg.round Action red Button
      %button.btn.btn-action-red.btn-lg.active.round Active
      %button.btn.btn-action-red.btn-lg.disabled.round Disabled
    %p
      %button.btn.btn-action-blue.round Action blue Button
      %button.btn.btn-action-blue.active.round Active
      %button.btn.btn-action-blue.disabled.round Disabled
    %p
      %button.btn.btn-succes.round Default Button
      %button.btn.btn-succes.active.round Active
      %button.btn.btn-succes.disabled.round Disabled
    %p
      %button.btn.btn-info.btn-sm.round Small Button
      %button.btn.btn-info.btn-sm.active.round Active
      %button.btn.btn-info.btn-sm.disabled.round Disabled
    %p
      %button.btn.btn-warning.btn-xs.round Mini Button
      %button.btn.btn-warning.btn-xs.active.round Active
      %button.btn.btn-warning.btn-xs.disabled.round Disabled
  %h2 Color Gradient
  %hr
  %button.btn.btn-action-blue.btn-lg.gradient Default Large
  %button.btn.btn-action-red.gradient Default Button
  %br
  %br
  %button.btn.btn-action-blue.btn-lg.round.gradient Default Large
  %button.btn.btn-action-red.round.gradient Default Button
  %br
  %h2 Split button dropdowns
  %hr
  .bs-example{"data-example-id" => "split-button-dropdown"}
    .btn-group
      %button.btn.btn-default{:type => "button"} Default
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-primary{:type => "button"} Primary
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-success{:type => "button"} Success
      %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-info{:type => "button"} Info
      %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-warning{:type => "button"} Warning
      %button.btn.btn-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-danger{:type => "button"} Danger
      %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
  %br
  %h2 Sizing
  %hr
  .bs-example{"data-example-id" => "button-dropdown-sizing"}
    .btn-toolbar{:role => "toolbar"}
      .btn-group
        %button.btn.btn-default.btn-lg.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Large button
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
    %br
    .btn-toolbar{:role => "toolbar"}
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Small button
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
    %br
    .btn-toolbar{:role => "toolbar"}
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Extra small button
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
  %h2 Dropup Variation
  %hr
  .bs-example{"data-example-id" => "button-dropdown-dropup"}
    .btn-toolbar{:role => "toolbar"}
      .btn-group.dropup
        %button.btn.btn-action-blue{:type => "button"} Official Blue Color Up
        %button.btn.btn-action-blue.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.caret
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
      .btn-group.dropup
      .btn-group.dropup
        %button.btn.btn-action-red{:type => "button"} Official Red Color Up
        %button.btn.btn-action-red.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.caret
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu.dropdown-menu-right
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
    %br
    .btn-group
      %button.btn.btn-action-blue{:type => "button"} Official Blue Color Down
      %button.btn.btn-action-blue.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link
    .btn-group
      %button.btn.btn-action-red{:type => "button"} Official Red Color Down
      %button.btn.btn-action-red.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider{:role => "separator"}
        %li
          %a{:href => "#"} Separated link

%br
.container.form-container
  %h1 Forms
  %hr
  .row
    .col-md-6
      %h3 Inputs
      %input.form-control.input-lg{"aria-describedby" => "sizing-addon1", :placeholder => "Username", :type => "text"}
      .input-group.input-group-lg
        %span#sizing-addon1.input-group-addon @
        %input.form-control{"aria-describedby" => "sizing-addon1", :placeholder => "Username", :type => "text"}
      .input-group
        %span#sizing-addon2.input-group-addon @
        %input.form-control{"aria-describedby" => "sizing-addon2", :placeholder => "Username", :type => "text"}
      .input-group.input-group-sm
        %span#sizing-addon3.input-group-addon @
        %input.form-control{"aria-describedby" => "sizing-addon3", :placeholder => "Username", :type => "text"}
      %hr
      .input-group
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"} Go!
        %input.form-control{:placeholder => "Search for...", :type => "text"}

      .input-group
        %input.form-control{:placeholder => "Search for...", :type => "text"}
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"} Go!

      .input-group
        .input-group-btn
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Action
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
      
        %input.form-control{"aria-label" => "...", :type => "text"}

      .input-group
        %input.form-control{"aria-label" => "...", :type => "text"}
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Action
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Separated link
      %hr
      .input-group
        %span#basic-addon1.input-group-addon @
        %input.form-control{"aria-describedby" => "basic-addon1", :placeholder => "Username", :type => "text"}
      .input-group
        %input.form-control{"aria-describedby" => "basic-addon2", :placeholder => "Recipient's username", :type => "text"}
          %span#basic-addon2.input-group-addon @example.com
      .input-group
        %span.input-group-addon $
        %input.form-control{"aria-label" => "Amount (to the nearest dollar)", :type => "text"}
          %span.input-group-addon .00
      .input-group
        %span#basic-addon3.input-group-addon https://example.com/users/
        %input#basic-url.form-control{"aria-describedby" => "basic-addon3", :type => "text"}
    .col-md-6
      .form-group
        %h3 Select
        %select.form-control.input-lg
          %option{:value => "AL"} Alabama
          %option{:value => "WY"} Wyoming
          %optgroup{:label => "Alaskan/Hawaiian Time Zone"}
            %option{:value => "AK"} Alaska
            %option{:disabled => "disabled", :value => "HI"} Hawaii
          %optgroup{:label => "Pacific Time Zone"}
            %option{:value => "CA"} California
            %option{:value => "NV"} Nevada
            %option{:value => "OR"} Oregon
            %option{:value => "WA"} Washington
          %optgroup{:label => "Mountain Time Zone"}
            %option{:value => "AZ"} Arizona
            %option{:value => "CO"} Colorado
            %option{:value => "ID"} Idaho
            %option{:value => "MT"} Montana
            %option{:value => "NE"} Nebraska
            %option{:value => "NM"} New Mexico
            %option{:value => "ND"} North Dakota
            %option{:value => "UT"} Utah
            %option{:value => "WY"} Wyoming
          %optgroup{:label => "Central Time Zone"}
            %option{:value => "AL"} Alabama
            %option{:value => "AR"} Arkansas
            %option{:value => "IL"} Illinois
            %option{:value => "IA"} Iowa
            %option{:value => "KS"} Kansas
            %option{:value => "KY"} Kentucky
            %option{:value => "LA"} Louisiana
            %option{:value => "MN"} Minnesota
            %option{:value => "MS"} Mississippi
            %option{:value => "MO"} Missouri
            %option{:value => "OK"} Oklahoma
            %option{:value => "SD"} South Dakota
            %option{:value => "TX"} Texas
            %option{:value => "TN"} Tennessee
            %option{:value => "WI"} Wisconsin
          %optgroup{:label => "Eastern Time Zone"}
            %option{:value => "CT"} Connecticut
            %option{:value => "DE"} Delaware
            %option{:value => "FL"} Florida
            %option{:value => "GA"} Georgia
            %option{:value => "IN"} Indiana
            %option{:value => "ME"} Maine
            %option{:value => "MD"} Maryland
            %option{:value => "MA"} Massachusetts
            %option{:value => "MI"} Michigan
            %option{:value => "NH"} New Hampshire
            %option{:value => "NJ"} New Jersey
            %option{:value => "NY"} New York
            %option{:value => "NC"} North Carolina
            %option{:value => "OH"} Ohio
            %option{:value => "PA"} Pennsylvania
            %option{:value => "RI"} Rhode Island
            %option{:value => "SC"} South Carolina
            %option{:value => "VT"} Vermont
            %option{:value => "VA"} Virginia
            %option{:value => "WV"} West Virginia
        %h3 Tag Picker
        %select#tagPicker.form-control{:multiple => "multiple"}
          %option{:value => "1"} Cats
          %option{:value => "2"} Dogs
          %option{:selected => "selected", :value => "3"} Fish
          %option{:value => "4"} Reptiles
          %option{:selected => "selected", :value => "5"} Equine
          %option{:value => "6"} Aviary
          %option{:value => "7"} Insects
        %h3 Multiple Select
        %select#mySel2.select2{:multiple => "multiple", :style => "width:400px;"}
          %option One
          %option Two
          %option Three
          %option Four
          %option Five
          %option Six
        %h3 Multiple Select by OptGroup
        %select#mySel3.select2{:multiple => "multiple", :style => "width:400px;"}
          %optgroup{:label => "Select multiple"}
            %option One
            %option Two
            %option Three
            %option Siz
            %option Seven
            %option Nine
          %optgroup.single{:label => "Select one"}
            %option Four
            %option Five
            %option Six


%br
%br
%br

.container
  .row
    .col-md-6{:style => "background-color:rgba(246,246,246,1);"}
      %p <strong>Descripción:</strong> Estructura de la información para la respuesta a la consulta<br>"información personal" realizada al SRCel.
      .schema-panel-set.detail
        .panel-group
          .panel.panel-schema
            .panel-heading.clearfix
              .panel-title.required
                .col-md-6
                  %a{"data-toggle" => "collapse-next"}
                    %span.name nivel 1
                  %p.data-type string
                  %p.description Descripción descrita...
                .col-md-6.text-right
                  %a.btn.btn-static.link-schema{:href => "#"}
                    %span schema
                  %ul
                    %li 0-999999
                    %li largo 1
                    %li default 0
                    %li.reg-exp 
                      %span /d\+(m|h|d)/
                    %li enum TXT<br>HTML<br>PDF<br>NADA
            .panel-collapse.collapse
              .panel-body
                .panel-group
                  .panel.panel-schema
                    .panel-heading.clearfix
                      .panel-title
                        .col-md-6
                          %a{"data-toggle" => "collapse-next"}
                            %span.name nivel 2
                          %p.data-type string
                          %p.description Descripción descrita...
                        .col-md-6.text-right
                          %a.btn.btn-static.link-schema{:href => "#"}
                            %span schema
                          %ul
                            %li 0-999999
                  .panel.panel-schema
                    .panel-heading.clearfix
                      .panel-title
                        .col-md-6
                          %a{"data-toggle" => "collapse-next"}
                            %span.name nivel 2
                          %p.data-type string
                          %p.description Descripción descrita...
                        .col-md-6.text-right
                          %ul
                            %li 0-999999
                            %li.reg-exp 
                              %span /d\+(m|h|d)/
                    .panel-collapse.collapse
                      .panel-body 
                        .panel-group
                          .panel.panel-schema
                            .panel-heading.clearfix
                              .panel-title
                                %span.name nivel 3
                                %p.data-type string
                                %p.description Descripción descrita...
                          .panel.panel-schema
                            .panel-heading.clearfix
                              .panel-title
                                %a{"data-toggle" => "collapse-next"}
                                  %span.name nivel 3
                                %p.data-type string
                                %p.description Descripción descrita...
                            .panel-collapse.collapse
                              .panel-body 
                                .panel.panel-schema
                                  .panel-heading.clearfix
                                    .panel-title.required
                                      %a{"data-toggle" => "collapse-next"}
                                        %span.name nivel 4
                                      %p.data-type string
                                      %p.description Descripción descrita...
                                  .panel-collapse.collapse
                                    .panel-body
                                      .panel.panel-schema
                                        .panel-heading.clearfix
                                          .panel-title
                                            %a{"data-toggle" => "collapse-next"}
                                              %span.name nivel 5
                                            %p.data-type string
                                            %p.description Descripción descrita...
                                        .panel-collapse.collapse
                                          .panel-body 
                                            .panel.panel-schema
                                              .panel-heading.clearfix
                                                .panel-title.required
                                                  %a{"data-toggle" => "collapse-next"}
                                                    %span.name nivel 6
                                                  %p.data-type string
                                                  %p.description Descripción descrita...
                                              .panel-collapse.collapse
                                                .panel-body 
                                                  .panel.panel-schema
                                                    .panel-heading.clearfix
                                                      .panel-title
                                                        %a{"data-toggle" => "collapse-next"}
                                                          %span.name nivel 7
                                                        %p.data-type string
                                                        %p.description Descripción descrita...
                                                    .panel-collapse.collapse
                                                      .panel-body 
                                                        .panel.panel-schema
                                                          .panel-heading.clearfix
                                                            .panel-title.required
                                                              %a{"data-toggle" => "collapse-next"}
                                                                %span.name nivel 8
                                                              %p.data-type string
                                                              %p.description Descripción descrita...
                                                          .panel-collapse.collapse
                                                            .panel-body 
                                                              .panel.panel-schema
                                                                .panel-heading.clearfix
                                                                  .panel-title.required
                                                                    %a{"data-toggle" => "collapse-next"}
                                                                      %span.name nivel 9
                                                                    %p.data-type string
                                                                    %p.description Descripción descrita...
                                                                .panel-collapse.collapse
                                                                  .panel-body 
                                                                    .panel.panel-schema
                                                                      .panel-heading.clearfix
                                                                        .panel-title
                                                                          %a{"data-toggle" => "collapse-next"}
                                                                            %span.name nivel 10
                                                                          %p.data-type string
                                                                          %p.description Descripción descrita...
                                                                      .panel-collapse.collapse
                                                                        .panel-body 
                                                                          .panel.panel-schema
                                                                            .panel-heading.clearfix
                                                                              .panel-title
                                                                                %a{"data-toggle" => "collapse-next"}
                                                                                  %span.name nivel 11
                                                                                %p.data-type string
                                                                                %p.description Descripción descrita...
                                                                            .panel-collapse.collapse
                                                                              .panel-body 
                                                                                .panel.panel-schema
                                                                                  .panel-heading.clearfix
                                                                                    .panel-title
                                                                                      %a{"data-toggle" => "collapse-next"}
                                                                                        %span.name nivel 12
                                                                                      %p.data-type string
                                                                                      %p.description Descripción descrita...
                                                                                  .panel-collapse.collapse
                                                                                    .panel-body 
                                                                                      .panel.panel-schema
                                                                                        .panel-heading.clearfix
                                                                                          .panel-title
                                                                                            %a{"data-toggle" => "collapse-next"}
                                                                                              %span.name nivel 13
                                                                                            %p.data-type string
                                                                                            %p.description Descripción descrita...
                                                                                        .panel-collapse.collapse
                                                                                          .panel-body 
                                                                                            .panel.panel-schema
                                                                                              .panel-heading.clearfix
                                                                                                .panel-title
                                                                                                  %a{"data-toggle" => "collapse-next"}
                                                                                                    %span.name nivel 14
                                                                                                  %p.data-type string
                                                                                                  %p.description Descripción descrita...
                                                                                              .panel-collapse.collapse
                                                                                                .panel-body 
                                                                                                  .panel.panel-schema
                                                                                                    .panel-heading.clearfix
                                                                                                      .panel-title
                                                                                                        %a{"data-toggle" => "collapse-next"}
                                                                                                          %span.name nivel 15
                                                                                                        %p.data-type string
                                                                                                        %p.description Descripción descrita...
                                                                                                    .panel-collapse.collapse
                                                                                                      .panel-body 
                                                                                                        .panel.panel-schema
                                                                                                          .panel-heading.clearfix
                                                                                                            .panel-title
                                                                                                              %a{"data-toggle" => "collapse-next"}
                                                                                                                %span.name nivel 16
                                                                                                              %p.data-type string
                                                                                                              %p.description Descripción descrita...
                                                                                                          .panel-collapse.collapse
                                                                                                            .panel-body 
                                                                                                              .panel.panel-schema
                                                                                                                .panel-heading.clearfix
                                                                                                                  .panel-title
                                                                                                                    %a{"data-toggle" => "collapse-next"}
                                                                                                                      %span.name nivel 17
                                                                                                                    %p.data-type string
                                                                                                                    %p.description Descripción descrita...
                                                                                                                .panel-collapse.collapse
                                                                                                                  .panel-body 
                                                                                                                    .panel.panel-schema
                                                                                                                      .panel-heading.clearfix
                                                                                                                        .panel-title
                                                                                                                          %a{"data-toggle" => "collapse-next"}
                                                                                                                            %span.name nivel 18
                                                                                                                          %p.data-type string
                                                                                                                          %p.description Descripción descrita...
                                                                                                                      .panel-collapse.collapse
                                                                                                                        .panel-body 
                                                                                                                          .panel.panel-schema
                                                                                                                            .panel-heading.clearfix
                                                                                                                              .panel-title
                                                                                                                                %a{"data-toggle" => "collapse-next"}
                                                                                                                                  %span.name nivel 19
                                                                                                                                %p.data-type string
                                                                                                                                %p.description Descripción descrita...
                                                                                                                            .panel-collapse.collapse
                                                                                                                              .panel-body 
                                                                                                                                .panel.panel-schema
                                                                                                                                  .panel-heading.clearfix
                                                                                                                                    .panel-title
                                                                                                                                      %span.name nivel 20
                                                                                                                                      %p.data-type string
                                                                                                                                      %p.description Descripción descrita...
        .panel-group
          .panel.panel-schema
            .panel-heading.clearfix
              .panel-title.required
                %span.name nombre
                %p.data-type string
                %p.description Descripción descrita...
        .panel-group
          .panel.panel-schema
            .panel-heading.clearfix
              .panel-title.required
                %a{"data-toggle" => "collapse-next"}
                  %span.name nombre
                %p.data-type string
                %p.description Descripción descrita...
            .panel-collapse.collapse
              .panel-body
                .panel-group
                  .panel.panel-schema
                    .panel-heading.clearfix
                      .panel-title
                        %span.name nombre
                        %p.data-type string
                        %p.description Descripción descrita...

    .col-md-6{:style => "background-color:rgba(246,246,246,1);"}
      %p <strong>Descripción:</strong> Estructura de la información para la respuesta a la consulta<br>"información personal" realizada al SRCel.
      .schema-panel-set
        .panel-group
          .panel.panel-schema
            .panel-heading.clearfix
              .panel-title.required
                .col-md-6
                  %a{"data-toggle" => "collapse-next"}
                    %span.name nivel 1
                  %p.data-type string
                  %p.description Descripción descrita...
                .col-md-6.text-right
                  %a.btn.btn-static.link-schema{:href => "#"}
                    %span schema
                  %ul
                    %li 0-999999
                    %li largo 1
                    %li default 0
                    %li.reg-exp 
                      %span /d\+(m|h|d)/
                    %li enum TXT<br>HTML<br>PDF<br>NADA
            .panel-collapse.collapse
              .panel-body
                .panel-group
                  .panel.panel-schema
                    .panel-heading.clearfix
                      .panel-title
                        %span.name nivel 2
                        %p.data-type string
                        %p.description Descripción descrita...
                  .panel.panel-schema
                    .panel-heading.clearfix
                      .panel-title
                        %a{"data-toggle" => "collapse-next"}
                          %span.name nivel 2
                        %p.data-type string
                        %p.description Descripción descrita...  
                    .panel-collapse.collapse
                      .panel-body 
                        .panel-group
                          .panel.panel-schema
                            .panel-heading.clearfix
                              .panel-title
                                %span.name nivel 3
                                %p.data-type string
                                %p.description Descripción descrita...
                          .panel.panel-schema
                            .panel-heading.clearfix
                              .panel-title
                                %a{"data-toggle" => "collapse-next"}
                                  %span.name nivel 3
                                %p.data-type string
                                %p.description Descripción descrita...
                            .panel-collapse.collapse
                              .panel-body 
                                .panel.panel-schema
                                  .panel-heading.clearfix
                                    .panel-title
                                      %a{"data-toggle" => "collapse-next"}
                                        %span.name nivel 4
                                      %p.data-type string
                                      %p.description Descripción descrita...
                                  .panel-collapse.collapse
                                    .panel-body
                                      .panel.panel-schema
                                        .panel-heading.clearfix
                                          .panel-title
                                            %a{"data-toggle" => "collapse-next"}
                                              %span.name nivel 5
                                            %p.data-type string
                                            %p.description Descripción descrita...
                                        .panel-collapse.collapse
                                          .panel-body 
                                            .panel.panel-schema
                                              .panel-heading.clearfix
                                                .panel-title
                                                  %a{"data-toggle" => "collapse-next"}
                                                    %span.name nivel 6
                                                  %p.data-type string
                                                  %p.description Descripción descrita...
                                              .panel-collapse.collapse
                                                .panel-body 
                                                  .panel.panel-schema
                                                    .panel-heading.clearfix
                                                      .panel-title
                                                        %a{"data-toggle" => "collapse-next"}
                                                          %span.name nivel 7
                                                        %p.data-type string
                                                        %p.description Descripción descrita...
                                                    .panel-collapse.collapse
                                                      .panel-body 
                                                        .panel.panel-schema
                                                          .panel-heading.clearfix
                                                            .panel-title
                                                              %a{"data-toggle" => "collapse-next"}
                                                                %span.name nivel 8
                                                              %p.data-type string
                                                              %p.description Descripción descrita...
                                                          .panel-collapse.collapse
                                                            .panel-body 
                                                              .panel.panel-schema
                                                                .panel-heading.clearfix
                                                                  .panel-title
                                                                    %a{"data-toggle" => "collapse-next"}
                                                                      %span.name nivel 9
                                                                    %p.data-type string
                                                                    %p.description Descripción descrita...
                                                                .panel-collapse.collapse
                                                                  .panel-body 
                                                                    .panel.panel-schema
                                                                      .panel-heading.clearfix
                                                                        .panel-title
                                                                          %a{"data-toggle" => "collapse-next"}
                                                                            %span.name nivel 10
                                                                          %p.data-type string
                                                                          %p.description Descripción descrita...
                                                                      .panel-collapse.collapse
                                                                        .panel-body 
                                                                          .panel.panel-schema
                                                                            .panel-heading.clearfix
                                                                              .panel-title
                                                                                %a{"data-toggle" => "collapse-next"}
                                                                                  %span.name nivel 11
                                                                                %p.data-type string
                                                                                %p.description Descripción descrita...
                                                                            .panel-collapse.collapse
                                                                              .panel-body 
                                                                                .panel.panel-schema
                                                                                  .panel-heading.clearfix
                                                                                    .panel-title
                                                                                      %a{"data-toggle" => "collapse-next"}
                                                                                        %span.name nivel 12
                                                                                      %p.data-type string
                                                                                      %p.description Descripción descrita...
                                                                                  .panel-collapse.collapse
                                                                                    .panel-body 
                                                                                      .panel.panel-schema
                                                                                        .panel-heading.clearfix
                                                                                          .panel-title
                                                                                            %a{"data-toggle" => "collapse-next"}
                                                                                              %span.name nivel 13
                                                                                            %p.data-type string
                                                                                            %p.description Descripción descrita...
                                                                                        .panel-collapse.collapse
                                                                                          .panel-body 
                                                                                            .panel.panel-schema
                                                                                              .panel-heading.clearfix
                                                                                                .panel-title
                                                                                                  %a{"data-toggle" => "collapse-next"}
                                                                                                    %span.name nivel 14
                                                                                                  %p.data-type string
                                                                                                  %p.description Descripción descrita...
                                                                                              .panel-collapse.collapse
                                                                                                .panel-body 
                                                                                                  .panel.panel-schema
                                                                                                    .panel-heading.clearfix
                                                                                                      .panel-title
                                                                                                        %a{"data-toggle" => "collapse-next"}
                                                                                                          %span.name nivel 15
                                                                                                        %p.data-type string
                                                                                                        %p.description Descripción descrita...
                                                                                                    .panel-collapse.collapse
                                                                                                      .panel-body 
                                                                                                        .panel.panel-schema
                                                                                                          .panel-heading.clearfix
                                                                                                            .panel-title
                                                                                                              %a{"data-toggle" => "collapse-next"}
                                                                                                                %span.name nivel 16
                                                                                                              %p.data-type string
                                                                                                              %p.description Descripción descrita...
                                                                                                          .panel-collapse.collapse
                                                                                                            .panel-body 
                                                                                                              .panel.panel-schema
                                                                                                                .panel-heading.clearfix
                                                                                                                  .panel-title
                                                                                                                    %a{"data-toggle" => "collapse-next"}
                                                                                                                      %span.name nivel 17
                                                                                                                    %p.data-type string
                                                                                                                    %p.description Descripción descrita...
                                                                                                                .panel-collapse.collapse
                                                                                                                  .panel-body 
                                                                                                                    .panel.panel-schema
                                                                                                                      .panel-heading.clearfix
                                                                                                                        .panel-title
                                                                                                                          %a{"data-toggle" => "collapse-next"}
                                                                                                                            %span.name nivel 18
                                                                                                                          %p.data-type string
                                                                                                                          %p.description Descripción descrita...
                                                                                                                      .panel-collapse.collapse
                                                                                                                        .panel-body 
                                                                                                                          .panel.panel-schema
                                                                                                                            .panel-heading.clearfix
                                                                                                                              .panel-title
                                                                                                                                %a{"data-toggle" => "collapse-next"}
                                                                                                                                  %span.name nivel 19
                                                                                                                                %p.data-type string
                                                                                                                                %p.description Descripción descrita...
                                                                                                                            .panel-collapse.collapse
                                                                                                                              .panel-body 
                                                                                                                                .panel.panel-schema
                                                                                                                                  .panel-heading.clearfix
                                                                                                                                    .panel-title
                                                                                                                                      %span.name nivel 20
                                                                                                                                      %p.data-type string
                                                                                                                                      %p.description Descripción descrita...
        .panel-group
          .panel.panel-schema
            .panel-heading.clearfix
              .panel-title.required
                %span.name nombre
                %p.data-type string
                %p.description Descripción descrita...
        .panel-group
          .panel.panel-schema
            .panel-heading.clearfix
              .panel-title.required
                %a{"data-toggle" => "collapse-next"}
                  %span.name nombre
                %p.data-type string
                %p.description Descripción descrita...
            .panel-collapse.collapse
              .panel-body
                .panel-group
                  .panel.panel-schema
                    .panel-heading.clearfix
                      .panel-title
                        %span.name nombre
                        %p.data-type string
                        %p.description Descripción descrita...




%br
%br
%br
%br
%br
%br