//panels wrapper
.schema-panel-set {
    .panel-group {
        margin: 3px 0px;
        // .panel + .panel {
        //     margin-top: 3px;
        // }
    }
    .panel-schema {
        //detail version (whitout margin)
        &.detail {
            background-color: transparent;
            .panel-heading.clearfix {
                margin-bottom: 3px;
            }
            .panel-schema {
                background-color: transparent;
            }
            .panel-body {
                padding: 0px;
                background-color: transparent;
                & ~ .panel-body {
                    background-color: green !important;
                }
            }
        }
    }
}

//panels item group
.panel-schema {
    border: none;
    background-color: rgba(85, 93, 115, 1);
    .panel-heading, //nivel 1
    .panel-body {
        background-color: rgba(85, 93, 115, 1);
        color: rgba(227, 227, 227, 1);
        font-size: 1.6rem;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        .description {
            color: rgba(173, 173, 173, 1);
        }
    }
    .panel-schema {
        background-color: rgba(107, 118, 146, 1);
        .panel-heading, //nivel 2
        .panel-body {
            background-color: rgba(107, 118, 146, 1);
            color: rgba(220, 220, 220, 1);
            .description {
                color: rgba(201, 206, 215, 1);
            }
        }
        .panel-schema {
            background-color: rgba(131, 144, 176, 1);
            .panel-heading, //nivel 3
            .panel-body {
                background-color: rgba(131, 144, 176, 1);
                color: rgba(220, 220, 220, 1);
                .description {
                    color: rgba(201, 206, 215, 1);
                }
            }
            .panel-schema {
                background-color: rgba(164, 175, 211, 1);
                .panel-heading, //nivel 4
                .panel-body {
                    background-color: rgba(164, 175, 211, 1);
                    color: rgba(82, 91, 114, 1);
                    .description {
                        color: rgba(127, 140, 176, 1);
                    }
                }
                .panel-schema {
                    background-color: rgba(203, 212, 239, 1);
                    .panel-heading, //nivel 5
                    .panel-body {
                        background-color: rgba(203, 212, 239, 1);
                        color: rgba(82, 91, 114, 1);
                        .description {
                            color: rgba(127, 140, 176, 1);
                        }
                    }
                    .panel-schema {
                        background-color: rgba(223, 229, 248, 1);
                        .panel-heading, //nivel 6
                        .panel-body {
                            background-color: rgba(223, 229, 248, 1);
                            color: rgba(82, 91, 114, 1);
                            .description {
                                color: rgba(127, 140, 176, 1);
                            }
                        }
                        .panel-schema {
                            background-color: rgba(237, 240, 252, 1);
                            .panel-heading, //nivel 7
                            .panel-body {
                                background-color: rgba(237, 240, 252, 1);
                                color: rgba(82, 91, 114, 1);
                                .description {
                                    color: rgba(127, 140, 176, 1);
                                }
                            }
                            .panel-schema {
                                background-color: rgba(247, 248, 250, 1);
                                .panel-heading, //nivel 8
                                .panel-body {
                                    background-color: rgba(247, 248, 250, 1);
                                    color: rgba(82, 91, 114, 1);
                                    .description {
                                        color: rgba(127, 140, 176, 1);
                                    }
                                }
                                .panel-schema {
                                    background-color: rgba(255, 255, 255, 1);
                                    .panel-heading, //nivel 9+ (n > 8) 
                                    .panel-body {
                                        background-color: rgba(255, 255, 255, 1);
                                        border: 1px solid rgba(201, 212, 238, 1);
                                        color: rgba(82, 91, 114, 1);
                                        border-radius: 5px 5px 0px 0px;
                                        .description {
                                            color: rgba(127, 140, 176, 1);
                                        }
                                    }
                                    .panel-collapse.collapse,
                                    .panel-collapse.collapse.in,
                                    .panel-collapse.collapsing {
                                        //border: none;
                                        .panel-body {
                                            border-top: none;
                                            margin-top: -3px;
                                            border-radius: 0px 0px 5px 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .panel-heading {
        border-radius: 5px;
        min-height: 75px;
        //color: white;
        [class*='col-'] {
            padding: 0px;
            margin: 0px;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
            &:before {
                font-family: 'Glyphicons Halflings';
                content: "\e250";
                float: left;
                color: rgba(229, 229, 229, 1);
                margin-left: -28px;
                padding-right: 10px;
                line-height: 2.3rem;
                font-size: 1.3rem;
            }
            &.down {
                &:before {
                    content: "\e252";
                }
            }
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &.link-schema {
                border: none;
                border-radius: 4px;
                margin-bottom: 10px;
                padding: 2px 8px 2px 8px;
                background: rgba(142, 142, 142, 1);
                &:before {
                    content: "";
                    display: none;
                }
                span {
                    line-height: 1.1rem;
                    padding: 0px;
                    &:before {
                        margin-right: 6px;
                        font-family: 'Glyphicons Halflings';
                        content: "\e164";
                        font-size: 1.1rem;
                        line-height: 1.1rem;
                        padding: 0px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .data-type {
            text-indent: 18px;
            font-style: italic;
        }
        .description {
            font-size: 1.3rem;
            text-indent: 18px;
            font-family: "Courier New", Menlo, Monaco, Consolas, monospace;
        }
        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 30px;
            font-size: 16px;
            color: inherit;
            .name {
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    border-radius: 10px;
                    display: inline-block;
                    background-color: none;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
            &.required {
                .name {
                    &:before {
                        background: rgba(100, 230, 80, 1);
                        border: 1px solid rgba(100, 230, 80, 1);
                    }
                }
            }
        }
        ul {
            text-align: right;
            list-style: none;
            li {
                &.reg-exp {
                    margin: 2px 0px;
                    span {
                        color: #cb1654;
                        background: rgba(255, 255, 255, 0.8);
                        border-radius: 3px;
                        font-family: Monospace;
                        padding: 3px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    > .panel-heading + .panel-collapse {
        > .panel-body {
            border: none;
        }
    }
    > .panel-collapse,
    > .panel-collapse.collapse.in,
    > .panel-collapsing {
        border: none;
        .panel-body {
            border: none;
            border-radius: 5px;
        }
    }
}
