//panels wrapper
.schema-panel-set {
    background-color: rgba(246, 246, 246, 1);
    padding: 20px;
    border: 1px solid rgba(225, 225, 225, 1);
    @media only screen and (max-width: 480px) {
        padding: 0px;
    }
    .panel-group {
        margin: 3px 0px;
    }
    //detail version (without margin)
    &.detail {
        .panel-heading,
        .panel-body,
        .panel-schema,
        .panel-group {
            padding: 0px;
            margin: 0px;
            border-radius: 0px;
        }
        div {
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border: none !important;
        }
        div.panel-body,
        div.panel-schema {
            margin-top: 0px !important;
            background-color: transparent !important;
        }
        div.panel-heading,
        div.panel-body {
            border: none;
        }
        .panel-schema {
            //level 1
            .panel-heading {
                box-shadow: none;
                padding: 10px 15px;
                margin: 3px 0px 0px 0px;
            }
            .panel-schema {
                //level 2
                .panel-heading {
                    padding-left: 30px;
                }
                .panel-schema {
                    //level 3
                    .panel-heading {
                        padding-left: 45px;
                    }
                    .panel-schema {
                        //level 4
                        .panel-heading {
                            padding-left: 60px;
                        }
                        .panel-schema {
                            //level 5
                            .panel-heading {
                                padding-left: 75px;
                            }
                            .panel-schema {
                                //level 6
                                .panel-heading {
                                    padding-left: 90px;
                                }
                                .panel-schema {
                                    //level 7
                                    .panel-heading {
                                        padding-left: 105px;
                                    }
                                    .panel-schema {
                                        //level 8
                                        .panel-heading {
                                            padding-left: 120px;
                                        }
                                        div.panel-schema {
                                            //level 9+ (n > 8)
                                            div.panel-heading {
                                                padding-left: 135px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        div.panel-collapse {
            background-color: transparent !important;
        }
    }
}

//standard nested panels version
.panel-schema {
    //level 1
    @include schema-component-panel( rgba(85, 93, 115, 1), rgba(227, 227, 227, 1), rgba(173, 173, 173, 1));
    border: none;
    font-size: 14px;
    font-family: $font-menlo;
    .panel-schema {
        //level 2
        @include schema-component-panel( rgba(107, 118, 146, 1), rgba(220, 220, 220, 1), rgba(201, 206, 215, 1));
        .panel-schema {
            //level 3
            @include schema-component-panel( rgba(131, 144, 176, 1), rgba(220, 220, 220, 1), rgba(201, 206, 215, 1));
            .panel-schema {
                //level 4
                @include schema-component-panel( rgba(164, 175, 211, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                .panel-schema {
                    //level 5
                    @include schema-component-panel( rgba(203, 212, 239, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                    .panel-schema {
                        //level 6
                        @include schema-component-panel( rgba(223, 229, 248, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                        .panel-schema {
                            //level 7
                            @include schema-component-panel( rgba(237, 240, 252, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                            .panel-schema {
                                //level 8
                                @include schema-component-panel( rgba(247, 248, 250, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                                div.panel-schema {
                                    //level 9+ (n > 8)
                                    background-color: rgba(255, 255, 255, 1);
                                    div.panel-heading {
                                        border-radius: 0px;
                                        background-color: rgba(255, 255, 255, 1);
                                        border: 1px solid rgba(201, 212, 238, 1);
                                        color: rgba(82, 91, 114, 1);
                                        .description {
                                            color: rgba(127, 140, 176, 1);
                                        }
                                    }
                                    div.panel-collapse.collapse,
                                    div.panel-collapse.collapse.in,
                                    div.panel-collapse.collapsing {
                                        border: 1px solid rgba(201, 212, 238, 1);
                                        background-color: rgba(255, 255, 255, 1);
                                        border-top: none;
                                        div.panel-body {
                                            background-color: rgba(255, 255, 255, 1);
                                            border-top: none;
                                            margin-top: -3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .panel-heading {
        min-height: 75px;
        border-radius: 0px;
        &.editable {
            box-shadow: inset 0px 0px 2px 0px #46526F, inset 0px 1px 8px 0px rgba(46, 54, 74, 0.56);
            input {
                width: 100%;
                border: none;
                height: 25px;
                outline: 0px;
                text-align: left;
                color: rgba(255, 255, 255, 1);
                background-color: transparent;
            }
        }
        a {
            cursor: pointer;
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            &:before {
                float: left;
                font-size: 13px;
                content: "\e250";
                line-height: 20px;
                margin-left: -28px;
                padding-right: 10px;
                color: rgba(229, 229, 229, 1);
                font-family: 'Glyphicons Halflings';
            }
            &.down {
                &:before {
                    content: "\e252";
                }
            }
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &.link-schema {
                border: none;
                border-radius: 4px;
                margin-bottom: 10px;
                padding: 2px 8px 2px 8px;
                background: rgba(142, 142, 142, 1);
                &:before {
                    content: "";
                    display: none;
                }
                span {
                    line-height: 18px;
                    padding: 0px;
                    color: rgba(255, 255, 255, 1);
                    &:before {
                        padding: 0px;
                        font-size: 13px;
                        content: "\e164";
                        margin-right: 6px;
                        line-height: 16px;
                        vertical-align: middle;
                        font-family: 'Glyphicons Halflings';
                    }
                }
            }
        }
        .data-type {
            text-indent: 18px;
            font-style: italic;
        }
        .description {
            margin: 0px;
            font-size: 13px;
            padding: 0px;
            font-family: $font-courier;
            p {
                width: 100%;
                display: block;
                overflow: hidden;
                text-align: left;
                padding-left: 18px;
            }
            ul {
                list-style: inherit;
            }
            ul li {
                text-align: left;
            }
        }
        .panel-title {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 30px;
            font-size: 14px;
            color: inherit;
            .name {
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    margin-right: 10px;
                    display: inline-block;
                    background-color: transparent;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
                &.anonymous {
                    display: none
                }
            }
            &.required {
                .name {
                    &:before {
                        background: $dot-required-color;
                        border: 1px solid $dot-required-color;
                    }
                }
            }
        }
        ul {
            text-align: right;
            list-style: none;
            font-size: 14px;
            li {
                &.reg-exp {
                    margin: 2px 0px;
                    span {
                        color: rgba(203, 22, 84, 1);
                        background: rgba(255, 255, 255, 0.8);
                        border-radius: 3px;
                        font-family: $font-menlo;
                        padding: 3px;
                        font-size: 14px;
                    }
                }
            }
        }
        [class*='col-'] {
            padding: 0px;
            margin: 0px;
        }
    }
    > .panel-heading + .panel-collapse {
        > .panel-body {
            border: none;
        }
    }
    > .panel-collapse,
    > .panel-collapse.collapse.in,
    > .panel-collapsing {
        border: none;
        .panel-body {
            border: none;
        }
    }
    .panel-body {
        a.btn.add-element {
            margin: 20px;
            font-size: 14px;
            box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.50);
        }
    }
    ::-webkit-input-placeholder {//Chrome/Opera/Safari
        color: rgba(255, 255, 255, 1);
    }
    ::-moz-placeholder {//Firefox 19+
        color: rgba(255, 255, 255, 1);
    }
    :-ms-input-placeholder {//IE 10+
        color: rgba(255, 255, 255, 1);
    }
    :-moz-placeholder {//Firefox 18-
        color: rgba(255, 255, 255, 1);
    }
}

.panel-body.clone {
    padding: 0px 15px;
}

.panel-body.clonable {
    display: none;
}
