//panels wrapper
.schema-panel-set {
    background-color: rgba(246, 246, 246, 1);
    padding: 20px;
    .panel-group {
        margin: 3px 0px;
    }
    //detail version (without margin) child of standard version
    &.detail {
        .panel-heading,
        .panel-body,
        .panel-schema,
        .panel-group {
            padding: 0px;
            margin: 0px;
        }
        div {
            border: none !important;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        div.panel-body,
        div.panel-schema {
            background-color: transparent !important;
            margin-top: 0px !important;
        }
        div.panel-heading,
        div.panel-body {
            border: none;
        }
        .panel-schema {
            //level 1
            .panel-heading {
                margin: 3px 0px 0px 0px;
                padding: 10px 15px;
            }
            .panel-schema {
                //level 2
                .panel-heading {
                    padding-left: 30px;
                }
                .panel-schema {
                    //level 3
                    .panel-heading {
                        padding-left: 45px;
                    }
                    .panel-schema {
                        //level 4
                        .panel-heading {
                            padding-left: 60px;
                        }
                        .panel-schema {
                            //level 5
                            .panel-heading {
                                padding-left: 75px;
                            }
                            .panel-schema {
                                //level 6
                                .panel-heading {
                                    padding-left: 90px;
                                }
                                .panel-schema {
                                    //level 7
                                    .panel-heading {
                                        padding-left: 105px;
                                    }
                                    .panel-schema {
                                        //level 8
                                        .panel-heading {
                                            padding-left: 120px;
                                        }
                                        div.panel-schema {
                                            //level 9+ (n > 8)
                                            div.panel-heading {
                                                padding-left: 135px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-heading,
        .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-schema .panel-body {
            border-radius: 5px;
        }
        div.panel-collapse {
            background-color: transparent !important;
        }
    }
}

//standard nested panels version
.panel-schema {
    //level 1
    @include schema-component-panel( rgba(85, 93, 115, 1), rgba(227, 227, 227, 1), rgba(173, 173, 173, 1));
    border: none;
    font-size: 1.6rem;
    font-family: $font-menlo;
    .panel-schema {
        //level 2
        @include schema-component-panel( rgba(107, 118, 146, 1), rgba(220, 220, 220, 1), rgba(201, 206, 215, 1));
        .panel-schema {
            //level 3
            @include schema-component-panel( rgba(131, 144, 176, 1), rgba(220, 220, 220, 1), rgba(201, 206, 215, 1));
            .panel-schema {
                //level 4
                @include schema-component-panel( rgba(164, 175, 211, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                .panel-schema {
                    //level 5
                    @include schema-component-panel( rgba(203, 212, 239, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                    .panel-schema {
                        //level 6
                        @include schema-component-panel( rgba(223, 229, 248, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                        .panel-schema {
                            //level 7
                            @include schema-component-panel( rgba(237, 240, 252, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                            .panel-schema {
                                //level 8
                                @include schema-component-panel( rgba(247, 248, 250, 1), rgba(82, 91, 114, 1), rgba(127, 140, 176, 1));
                                div.panel-schema {
                                    //level 9+ (n > 8)
                                    background-color: rgba(255, 255, 255, 1);
                                    div.panel-heading {
                                        background-color: rgba(255, 255, 255, 1);
                                        border: 1px solid rgba(201, 212, 238, 1);
                                        color: rgba(82, 91, 114, 1);
                                        border-radius: 5px 5px 0px 0px;
                                        .description {
                                            color: rgba(127, 140, 176, 1);
                                        }
                                    }
                                    div.panel-collapse.collapse,
                                    div.panel-collapse.collapse.in,
                                    div.panel-collapse.collapsing {
                                        border: 1px solid rgba(201, 212, 238, 1);
                                        background-color: rgba(255, 255, 255, 1);
                                        border-top: none;
                                        border-radius: 0px 0px 5px 5px;
                                        div.panel-body {
                                            background-color: rgba(255, 255, 255, 1);
                                            border-radius: 0px 0px 5px 5px;
                                            border-top: none;
                                            margin-top: -3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .panel-heading {
        border-radius: 5px;
        min-height: 75px;
        [class*='col-'] {
            padding: 0px;
            margin: 0px;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
            &:before {
                font-family: 'Glyphicons Halflings';
                content: "\e250";
                float: left;
                color: rgba(229, 229, 229, 1);
                margin-left: -28px;
                padding-right: 10px;
                line-height: 2.3rem;
                font-size: 1.3rem;
            }
            &.down {
                &:before {
                    content: "\e252";
                }
            }
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &.link-schema {
                border: none;
                border-radius: 4px;
                margin-bottom: 10px;
                padding: 2px 8px 2px 8px;
                background: rgba(142, 142, 142, 1);
                &:before {
                    content: "";
                    display: none;
                }
                span {
                    line-height: 1.1rem;
                    padding: 0px;
                    color: rgba(255, 255, 255, 1);
                    &:before {
                        margin-right: 6px;
                        font-family: 'Glyphicons Halflings';
                        content: "\e164";
                        font-size: 1.1rem;
                        line-height: 1.1rem;
                        padding: 0px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .data-type {
            text-indent: 18px;
            font-style: italic;
        }
        .description {
            font-size: 1.3rem;
            margin: 0px;
            padding: 0px 0px 0px 18px;
            font-family: $font-courier;
        }
        .panel-title {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 30px;
            font-size: 16px;
            color: inherit;
            .name {
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    border-radius: 10px;
                    display: inline-block;
                    background-color: transparent;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
            &.required {
                .name {
                    &:before {
                        background: $dot-required-color;
                        border: 1px solid $dot-required-color;
                    }
                }
            }
        }
        ul {
            text-align: right;
            list-style: none;
            font-size: 1.4rem;
            li {
                &.reg-exp {
                    margin: 2px 0px;
                    span {
                        color: rgba(203, 22, 84, 1);
                        background: rgba(255, 255, 255, 0.8);
                        border-radius: 3px;
                        font-family: $font-menlo;
                        padding: 3px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    > .panel-heading + .panel-collapse {
        > .panel-body {
            border: none;
        }
    }
    > .panel-collapse,
    > .panel-collapse.collapse.in,
    > .panel-collapsing {
        border: none;
        .panel-body {
            border: none;
            border-radius: 5px;
        }
    }
}
