.list-selector {
    height: 175px;
    border: 1px solid $official-grey;
    font-size: $font-13;
    .content-list {
        height: 135px;
        overflow: hidden;
        overflow-y: auto;
        border-top: 1px solid $official-grey;
        .row-list {
            padding: 2px 4px;
        }
        .row-list.selected {
            background: $official-blue;
            color: $light-text;
        }
        input[type=checkbox] {
            border-radius: 0;
        }
        label {
            font-family: $font-light;
        }
    }
    .form-control,
    .input-group-btn button {
        border: none;
        background: none;
        &:focus {
            outline: 0px;
            box-shadow: none;
        }
    }
}

/*.input-group.box-input-file{
  width: 100%;
  .input-group-btn{
    position: absolute;
    font-size: 0;
    white-space: nowrap;
    right: 0;
    width: auto;
    z-index: 10;
    margin: 0;
    width: 100%;
    .btn{
      padding: 11px 12px;
      width: 100%;
      background: #fff;
      text-align: left;
      font-size: 14px;
    }
  }
  .field{
    input{
      height: 44px;
      background: #fff;
    }
  }
  #remove-file{
    display: inline;
    position: absolute;
    right: 4px;
    z-index: 2;
    top: 10px;
    color: #999;
    cursor: pointer;
    &:hover{
      color: #666;
    }
  }
}*/
