%h1=t(:notifications)
%table
  %thead
    %td
      Fecha
    %td
      Mensaje
    %td
      Leida
    %td
      Vista
    %tbody
      - @notifications.each do |notification|
        %tr{"data-link" => user_notification_path(current_user, notification)}
          %td
            = notification.created_at
          %td
            = notification.message
          %td
            = notification.read
          %td
            = notification.seen
