- (1..4).each do |i|
  .event
    %p
      %strong Borrador de solicitud creada
    %p
      Responsable: Gonzalo Carrasco
      %br
      Contacto: gcarrasco@sii.cl
      %br
      %small
        10/06/2016 - 09:42 AM
