#modalAgreementOneTimePassword.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h1=t(:one_time_password)
      .modal-body
        = form_for @agreement, url: organization_agreement_change_state_path(@organization, @agreement, @agreement.next_step) do |f|
          = text_field_tag :one_time_password
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              =t(:cancel)
            = f.button t(:sign_request), name: t(:sign_request), class: 'btn btn-success'