footer {
    font-family: $font-regular;
    width: 100%;
    margin: 0px;
    padding-top: 60px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    .footer-container {
        background: rgba(255, 255, 255, 1);
        color: rgba(153, 153, 153, 1);
        text-align: center;
        border-top: 1px solid rgba(229, 229, 299, 1);
        .container {
            padding: 0px;
            @media only screen and (max-width: 480px) {
                padding: 0px;
            }
        }
    }
    .footer-col {
        margin: 0px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: rgba(255, 255, 255, 1);
        &.blue {
            border-top: 4px solid $official-blue;
        }
        &.red {
            border-top: 4px solid $official-red;
            p {
                padding-right: 70px;
            }
        }
        .box-logo-footer {
            text-align: left;
            height: 70px;
            display: block;
            position: relative;
            img {
                bottom: 0px;
                position: absolute;
                display: block;
            }
        }
        p {
            padding: 0px;
            margin: 30px 0px 0px 0px;
            display: block;
            line-height: 16px;
            @media only screen and (max-width: 480px) {
                margin-top: 10px;
            }
        }
    }
}
