footer {
    font-family: $font-regular;
    .footer-container {
        background: white;
        color: #999;
        text-align: center;
        border-top: 1px solid #e5e5e5;
    }
    .footer-col {
        margin: 0px;
        height: 104px;
        line-height: 58px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        border-top: 4px solid grey;
        &.blue {
            border-color: $official-blue;
        }
        &.red {
            border-color: $official-red;
            p {
                padding-right: 70px;
            }
        }
        .box-logo-footer {
            height: 100px;
            display: block;
            position: relative;
            img {
                bottom: 0px;
                position: absolute;
                display: inline-block;
            }
            p {
                padding: 0px;
                margin: 0px;
            }
        }
    }
}
