footer {
    .footer-container {
        background: white;
        padding: 0px;
        color: #999;
        text-align: center;
        border-top: 1px solid #e5e5e5;
    }
    .footer-col {
        margin: 0px;
        height: 85px;
        line-height: 85px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        border-top: 4px solid grey;
        &.blue {
            border-color: $official-blue;
        }
        &.red {
            border-color: $official-red;
        }
    }
}
