//navbar
header {
    background: white;
    .container-fluid {
        border-bottom: 1px solid $official-grey;
    }
}

.header-container {
    background: white;
    @media only screen and (min-width: 768px) {
        height: 118px;
    }
    .navbar {
        margin: 0px;
        .navbar-header {
            padding: 0px 0px 20px 0px;
            .navbar-toggle {
                border-color: rgba(185, 185, 185, 1);
                span {
                    background-color: darken(rgba(185, 185, 185, 1), 10%);
                }
            }
        }
        .navbar-collapse {
            .navbar-right {
                margin: 40px 30px 20px 0;
                @media only screen and (max-width: 768px) {
                    margin-left: 35%;
                }
            }
        }
        .nav {
            > li {
                > a {
                    text-align: center;
                    border-top: 1px solid rgba(185, 185, 185, 1);
                    padding-left: 0px;
                }
            }
            .notifications-box {
                float: left;
                margin-right: 10px;
                a {
                    display: block;
                    background: #ccc;
                    padding: 12px 12px 11px 12px;
                    overflow: hidden;
                    color: $light-text;
                    i,
                    span {
                        float: left;
                        display: block;
                        line-height: 94%;
                        font-size: $font-18;
                    }
                    i {
                        line-height: 105%;
                    }
                    span {
                        margin-left: 6px;
                        line-height: 125%;
                        font-size: $font-14;
                    }
                    &:hover {
                        background: $gray-background-especial;
                    }
                }
            }
            .with-notifications {
                a{
                  background: $official-red !important;
                }
                @extend .notifications-box;
            }
        }
    }
    .logo {
        float: left;
        margin: 0px;
        display: inline-block;
    }
    @media only screen and (min-width: 768px) and (max-width: 989px) {
        #btn-login {
            width: 17%;
            float: right;
            font-size: 18px;
            font-family: gobcllight, Tahoma, Verdana, Segoe, sans-serif;
            margin-right: -20px;
            position: absolute;
            margin-top: 15px;
        }
        nav {
            margin-right: 0px;
            .principal {
                width: 60%;
                margin-left: 4%;
                li {
                    a {
                        height: 100px;
                        line-height: 100px;
                        color: rgba(113, 123, 127, 1);
                        font-size: $font-14;
                        border-radius: 0px;
                        border-top: none;
                        &:hover {
                            background-color: rgba(249, 249, 249, 1);
                        }
                        &.active {
                            background-color: rgba(249, 249, 249, 1);
                            border-bottom: 6px solid $official-blue;
                            color: rgba(113, 123, 127, 1);
                            border-radius: 0px;
                            &:hover {
                                background-color: rgba(249, 249, 249, 1);
                                color: rgba(113, 123, 127, 1);
                            }
                        }
                    }
                }
            }
            .navbar-header{
                max-width: 20%;    
            }

        }
        .navbar-right {
            width: 10%;
            margin-top: 10px !important;
        }
        .navbar .nav > li > a {
            border-top: none;
            font-size: $font-14;
            padding: 5px 5px;

        }
    }

    @media only screen and (min-width: 990px) {
        nav {
            .principal {
                width: 50%;
                margin-left: 4%;
                li {
                    height: 118px;
                    width: 20%;
                    text-align: center;
                    a {
                        height: 118px;
                        padding-top: 50px;
                        color: rgba(113, 123, 127, 1);
                        font-size: $font-18;
                        border-radius: 0px;
                        border-top: none;
                        &:hover {
                            background-color: rgba(249, 249, 249, 1);
                        }
                        &.active {
                            background-color: rgba(249, 249, 249, 1);
                            border-bottom: 6px solid $official-blue;
                            color: rgba(113, 123, 127, 1);
                            border-radius: 0px;
                            &:hover {
                                background-color: rgba(249, 249, 249, 1);
                                color: rgba(113, 123, 127, 1);
                            }
                        }
                    }
                }
            }
        }
        .navbar .nav > li > a {
            border-top: none;
        }
    }
    .nav-pills > li + li {
        margin: 0px;
    }
}

#btn-login {
    width: 100%;
    float: right;
    font-size: 22px;
    font-family: $font-light;
    img {
        margin-right: 5px;
        margin-top: -2px;
    }
    span {
        color: rgba(255, 255, 255, 0.6);
    }
}

#user-menu {
    float: left;
    width: 60px;
    padding-right: 100px;
    button {
        border-bottom: none;
        text-align: left;
        max-width: 225px;
        min-width: 150px;
        font-size: $font-14;
        line-height: 120%;
        padding: 12px;
        background: $gray-background-especial;
        color: $light-text;
        .name {
            float: left;
            max-width: 130px;
            overflow: hidden;
            margin-right: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .btn {
            float: right;
            border: none;
            padding: 0px 6px;
            margin-right: 7px;
            text-align: center;
            color: $official-blue;
            font-family: $font-regular;
            background-color: rgba(255, 255, 255, 1);
        }
        .caret {
            float: right;
            margin-top: 5px;
        }
    }
    .dropdown-menu {
        border: none;
        min-width: 215px;
        padding-top: 0px;
        font-size: $font-14;
        padding-bottom: 0px;
        font-family: $font-regular;
        color: rgba(155, 155, 155, 1);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        &:after {
            position: absolute;
            top: -6px;
            right: 10px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid white;
            border-left: 6px solid transparent;
            content: '';
        }
        li {
            &.institution {
                padding: 6px 12px;
                font-family: $font-bold;
                small {
                    display: block;
                    font-size: 12px;
                    font-family: $font-light;
                }
            }
            &.new-schema,
            &.pending-services,
            &.monitor-params,
            &.agreements-list,
            &.data-categories,
            &.logout {
                a {
                    overflow: hidden;
                    color: $official-blue;
                    font-family: $font-bold;
                    border-top: 1px solid #e0e0e0;
                    padding: 10px;
                    &:hover {
                        background-color: #e1e1e1;
                    }
                    &:focus{
                      outline: 0px;
                    }
                    i, span{
                      padding-top: 0;
                      display: block;
                      float: left;
                    }
                    span{
                      padding-top: 3px;
                      margin-left: 6px;
                    }
                }
            &.pending-services{
              a{
                color: $official-green;
              }
            }
            &.monitor-params{
              a{
                color: $official-blue
              }
            }
            &.agreements-list{
              a{
                color: $official-red;
              }
            }
            }
            &.logout {
                border-bottom: none;
                background-color: rgba(246, 246, 246, 1);
                a{
                  color: $dark-black-text;
                }
            }
            > a {
                padding: 8px 30px;
            }
        }
    }
}
