@font-face {
    font-family: 'gobclregular';
    src: font-url('gobcl_regular-webfont.eot');
    src: local('gobclregular'), font-url('gobcl_regular-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_regular-webfont.woff2') format('woff2'), font-url('gobcl_regular-webfont.woff') format('woff'), font-url('gobcl_regular-webfont.ttf') format('truetype'), font-url('gobcl_regular-webfont.svg#gobclregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobcllight';
    src: font-url('gobcl_light-webfont.eot');
    src: local('gobcllight'), font-url('gobcl_light-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_light-webfont.woff2') format('woff2'), font-url('gobcl_light-webfont.woff') format('woff'), font-url('gobcl_light-webfont.ttf') format('truetype'), font-url('gobcl_light-webfont.svg#gobcllight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobclheavy';
    src: font-url('gobcl_heavy-webfont.eot');
    src: local('gobclheavy'), font-url('gobcl_heavy-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_heavy-webfont.woff2') format('woff2'), font-url('gobcl_heavy-webfont.woff') format('woff'), font-url('gobcl_heavy-webfont.ttf') format('truetype'), font-url('gobcl_heavy-webfont.svg#gobclheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobclbold';
    src: font-url('gobcl_bold-webfont.eot');
    src: local('gobclbold'), font-url('gobcl_bold-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_bold-webfont.woff2') format('woff2'), font-url('gobcl_bold-webfont.woff') format('woff'), font-url('gobcl_bold-webfont.ttf') format('truetype'), font-url('gobcl_bold-webfont.svg#gobclbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(255, 255, 255, 1);
    font-family: $font-light;
    color: $dark-black-text;
    font-size: $font-13;
    &.schema_versions_show {
        @media only screen and (min-width: 1200px) {
            background-color: $gray-background;
            background-image: image-url('bg.jpg');
            background-repeat: repeat-y;
            background-position: center;
        }
        @media only screen and (max-width: 1200px) {
            background-color: rgba(255, 255, 255, 1);
        }
    }
    &.home_index {
        background-color: rgba(241, 241, 241, 1);
        .instance-panel {
            margin-bottom: 30px;
        }
    }
}

.main-container {
    padding: 0px;
    min-height: 560px;
}

.form-container {
    input,
    .input-group {
        margin-bottom: 10px;
    }
}

.content-pages {
    background: $main-section-content;
    padding: 30px 0;
    min-height: 600px;
}

strong {
    color: rgba(94, 94, 94, 1);
    font-family: $font-bold;
}

//labels
.label-blue {
    display: block;
    padding: 3px;
    @extend .font-bold;
    text-transform: uppercase;
    font-size: $font-10;
    border: 1px solid $official-blue;
    color: $official-blue;
    text-align: center;
    min-width: 75px;
}

.label-red {
    @extend .label-blue;
    color: $official-red;
    border-color: $official-red;
}

.label-green {
    @extend .label-blue;
    color: $official-green;
    border-color: $official-green;
}

//schemas
.schema-wrapper {
    text-align: center;
    &.text-left {
        text-align: left;
    }
    .empty-state {
        display: none;
        text-align: left;
        @media only screen and (min-width: 768px) {
            text-indent: 265px;
        }
    }
}

.schema-box-container {
    text-align: left;
    width: auto;
    display: inline-block;
    overflow: hidden;
    max-width: 880px;
    width: 100%;
    @media only screen and (max-width: 620px) {
        text-align: center;
    }
}

.box-schema {
    width: 270px;
    text-align: left;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 5px 20px 5px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    @media only screen and (max-width: 480px) {
        width: 98%;
    }
    .title {
        color: white;
        height: 77px;
        max-height: 77px;
        overflow: hidden;
        padding: 17px;
        line-height: 21px;
        font-size: $font-18;
        font-family: $font-regular;
        border-radius: 4px 4px 0px 0px;
        background-color: $schemas-background-color;
        margin: 0px;
        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .body {
        padding: 17px;
        font-size: $font-13;
        min-height: 130px;
        height: 130px;
        overflow: hidden;
        font-family: $font-regular;
        position: relative;
        span {
            font-family: $font-bold;
        }
        .organization {
            display: block;
            position: absolute;
            width: auto;
            background: rgba(239, 239, 239, 1);
            border-radius: 4px;
            color: rgba(145, 145, 145, 1);
            bottom: 0px;
            font-size: $font-18;
            padding: 5px 7px;
            max-width: 235px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &.filtered {
        display: none;
    }
}

.box-service {
    margin: 0px 5px 20px 5px;
    border-radius: 0;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    width: 270px;
    text-align: left;
    border: 1px solid #e1e1e1;
    @media only screen and (max-width: 480px) {
        width: 98%;
    }
    .title {
        height: 64px;
        overflow: hidden;
        padding: 20px 30px 0px 20px;
        line-height: 21px;
        font-size: $font-18;
        font-family: $font-regular;
        border-radius: 2px 2px 0px 0px;
        margin: 0px;
        a {
            font-family: $font-bold;
            color: rgba(0, 82, 140, 1);
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
        &.opendata {
            background-size: auto 30%;
            background-repeat: no-repeat;
            background-position: 95% 45%;
            background-image: image-url("open-data.png");
        }
    }
    .body {
        padding: 5px 20px;
        font-size: $font-13;
        height: 95px;
        overflow: hidden;
        font-family: $font-regular;
        position: relative;
        span {
            font-family: $font-bold;
        }
        a.organization {
            text-decoration: underline;
            display: block;
            position: absolute;
            width: auto;
            bottom: 0px;
            font-size: 1.3rem;
            padding: 20px 0px;
            max-width: 235px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $official-lightblue;
        }
    }
}

.instance-panel {
    width: 100%;
    height: 200px;
    padding: 40px 0px;
    margin-bottom: 60px;
    background-color: $official-blue;
    h1 {
        font-size: $font-24;
        color: white;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    //search-box-input
    .inner-addon {
        position: relative;
        .glyphicon {
            position: absolute;
            pointer-events: none;
            font-size: $font-24;
            padding: 27px;
            color: rgba(175, 175, 175, 1);
        }
    }
    .right-addon {
        .glyphicon {
            right: 0px;
            top: -5px;
        }
        input {
            padding-right: 30px;
        }
    }
    .left-addon {
        .glyphicon {
            right: 0px;
            top: -5px;
        }
        input {
            padding-left: 30px;
        }
    }
    .container-form {
        float: none;
        margin: 0 auto;
    }
    &.schema-detail {
        background-color: rgba(161, 216, 255, 1);
        color: rgba(113, 123, 127, 1);
        font-family: $font-regular;
        z-index: 999;
        transition: height 500ms, background 500ms;
        .category-icon {
            background-color: transparent;
            box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.20);
            border-radius: 13px;
            display: inline-block;
            margin-right: 0px;
            padding: 25px;
            @media only screen and (max-width: 480px) {
                padding: 2px;
            }
        }
        .box-detail-header {
            padding-left: 88px;
            @media only screen and (max-width: 480px) {
                padding-left: 0px;
            }
        }
        h2,
        h3,
        h4 {
            margin-top: 0px;
        }
        p {
            max-width: 495px;
        }
    }
}

#search-schema,
#search-service {
    height: 66px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0;
    padding-right: 66px;
    font-size: $font-18;
    &::-webkit-input-placeholder {
        color: rgba(197, 197, 197, 1);
        /* Webkit */
    }
    &:-moz-placeholder {
        color: rgba(197, 197, 197, 1);
        /* Firefox 18- */
    }
    &::-moz-placeholder {
        color: rgba(197, 197, 197, 1);
        /* Firefox 19+ */
    }
    &:-ms-input-placeholder {
        color: rgba(197, 197, 197, 1);
        /* IE */
    }
}

.new-schemas-container {
    padding: 0px 90px;
    input {
        max-width: 473px;
    }
}

.new-service-container {
    padding: 45px 0px 90px 0px;
    background-color: rgba(255, 255, 255, 1);
    input {
        max-width: 100%;
    }
    .field {
        input.form-control {
            height: 45px;
            background-color: rgba(255, 255, 255, 1);
        }
    }
    span#select-file {
        height: 45px;
        font-size: 14px;
        line-height: 33px;
        background-image: linear-gradient(-180deg, rgba(251, 251, 251, 1) 0%, rgba(235, 235, 235, 1) 100%);
    }
    #check_box_new {
        label {
            margin-top: 5px;
            font-size: $font-14;
        }
    }
    #remove-file {
        margin: 3px 0px 9px 0px;
        float: left;
        padding: 0px;
        display: none;
        font-size: $font-11;
        i {
            font-size: 12px;
            vertical-align: top;
        }
        span {
            cursor: pointer;
        }
    }
}


/* File Schema Upload*/

.box-new-schema-file {
    height: 120px;
    color: #FFFFFF;
    max-width: 690px;
    border-radius: 13px;
    letter-spacing: 0px;
    border: 1px solid #FFFFFF;
    font-family: $font-regular;
    margin: 15px auto 0px auto;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.20);
    .box-title {
        width: 49%;
        float: left;
        padding: 43px 34px;
        display: inline-block;
        font-size: $font-24;
        line-height: $font-24;
        span {
            float: left;
            font-size: $font-24;
            font-family: $font-light;
        }
        p {
            padding: 0px 0px 0px 23px;
            margin: 0px;
            text-align: left;
            margin-left: 23px;
        }
    }
    span#select-file {
        border: none;
        @include bootstrap-btns($official-red,
        18%);
    }
    .box-input-file {
        width: 48%;
        max-width: 48%;
        display: block;
        overflow: hidden;
        text-align: left;
        padding: 40px 0px 36px 20px;
    }
    input.form-control {
        border: none;
        color: white;
        font-size: $font-24;
        background-color: rgba(255, 255, 255, 0.20);
    }
    label.input-group-btn {
        text-align: right;
        padding-right: 25px;
    }
    #input-file {
        display: none;
        width: 280px;
        max-width: 280px;
        padding-top: 7px;
        vertical-align: middle;
    }
    #remove-file {
        margin: 0px;
        float: right;
        padding: 0px;
        display: none;
        line-height: 42px;
        font-size: $font-14;
        i {
            font-size: 10px;
        }
        span {
            cursor: pointer;
        }
    }
}

.box-new-service-file {
    @extend .box-new-schema-file
}

h3,
h4 {
    &.col-title {
        font-family: $font-bold;
        margin: 0px 0px 5px 0px;
    }
}

ul.list-categories {
    list-style: none;
    padding: 5px 0px 15px 0px;
    li {
        padding: 8px;
        color: $gray-text;
        margin-bottom: 1px;
        font-size: $font-18;
        line-height: $font-18;
        font-family: $font-regular;
        a {
            display: block;
            cursor: pointer;
            color: $gray-text;
            &:hover {
                color: $gray-text;
                text-decoration: none;
                background-color: transparent;
            }
        }
        &:hover {
            background: rgba(0, 105, 180, 0.10);
        }
        &.active {
            background: rgba(106, 193, 255, 1);
            a {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

ul.list-operations {
    @extend .list-categories;
    padding: 14px 9px 15px 21px;
    li {
        display: block;
        overflow: hidden;
        line-height: 13px;
        padding: 0px;
        margin-bottom: 10px;
        a {
            .path {
                padding: 3px 4px;
                font-size: $font-13;
                transition: width 0.3s ease;
                -o-transition: width 0.3s ease;
                -moz-transition: width 0.3s ease;
                -webkit-transition: width 0.3s ease;
            }
        }
        .btn {
            border-radius: 0px;
        }
        &:hover {
            border-radius: 0px;
            color: rgba(198, 198, 198, 1);
            background: rgba(198, 198, 198, 0.10);
        }
        &.active {
            color: rgba(255, 255, 255, 1);
            border-radius: 0px;
            background: rgba(198, 198, 198, 1);
        }
    }
}

.no-gutter,
.no-gutter > [class*='col-'] {
    @media only screen and (min-width: 768px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.container-operations-list {}

//schema detail
.container-schema-list {
    h3 {
        font-size: $font-18;
        font-family: $font-bold;
    }
    h4 {
        font-size: $font-18;
        font-family: $font-18;
    }
}

.container-schema-detail {
    color: rgba(94, 94, 94, 1);
    @media only screen and (min-width: 768px) {
        padding: 0px 40px 0px 60px;
    }
    h1 {
        font-family: $font-regular;
        font-size: $font-24;
        color: rgba(94, 94, 94, 1);
        .btn {
            padding: 2px 22px;
            font-size: $font-24;
            vertical-align: top;
            margin-left: 10px;
            pointer-events: none;
        }
    }
    .history-version {
        text-transform: uppercase;
        margin-bottom: 30px;
        a {
            text-decoration: underline;
            &:first-child {
                margin-right: 10px;
            }
        }
        .historic {
            float: right;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: $font-24;
        color: rgba(94, 94, 94, 1);
        font-family: $font-bold;
    }
}

.url-canonica {
    margin: 0px;
    width: 100%;
    max-width: 656px;
    display: inline-block;
    vertical-align: bottom;
    span {
        padding: 8px 12px;
        display: block;
        max-width: 100%;
        overflow: hidden;
        font-size: $font-14;
        border-radius: 0px;
        white-space: nowrap;
        letter-spacing: 0px;
        text-overflow: ellipsis;
        background: rgba(255, 255, 255, 1);
        a {
            margin-left: 6px;
            text-decoration: none;
        }
    }
}

.container-schema-action {
    padding: 10px 12px;
    .btn {
        width: 100%;
        font-size: $font-18;
        margin-bottom: 12px;
    }
    pre {
        background-color: rgba(241, 239, 238, 1);
    }
}

.alert {
    margin: 0px;
    @include alert-variant($alert-info-bg,
    $alert-info-border,
    $alert-info-text);
    &.success {
        @include alert-variant($alert-success-bg,
        $alert-success-border,
        $alert-success-text);
    }
    &.notice {
        @include alert-variant($alert-info-bg,
        $alert-info-border,
        $alert-info-text);
    }
    &.warning {
        @include alert-variant($alert-warning-bg,
        $alert-warning-border,
        $alert-warning-text);
    }
    &.danger,
    .alert,
    .error {
        @include alert-variant($alert-danger-bg,
        $alert-danger-border,
        $alert-danger-text);
    }
    p,
    ul {
        margin: 0px;
    }
    a {
        text-decoration: underline;
    }
}

//Schema panel set component
@import "components/_schemas-component.scss";
@import "components/_tables.scss";
//Services
.instance-panel-services {
    background-color: $gray-background;
    padding: 30px 0px;
    .title {
        display: block;
        line-height: 125%;
        h1 {
            float: left;
            font-size: $font-24;
            display: inline-block;
            font-family: $font-bold;
            color: $dark-black-text;
            margin: -1px 10px 0px 0px;
        }
        span {
            margin-top: 2px;
            margin-right: 5px;
            display: inline-block;
            background: rgba(255, 255, 255, 1);
        }
    }
    .description {
        max-height: 200px;
        overflow-y: auto;
        font-size: $font-18;
        margin-bottom: 30px;
        padding-right: 10px;
        color: $dark-black-text;
        font-family: $font-regular;
        h1 {
            font-size: $font-24;
            font-family: $font-bold;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: $font-18;
            font-family: $font-bold;
        }
        p {
            margin: 0px;
        }
    }
    .principal-actions {
        .btn {
            margin-right: 4px;
        }
        &.whitout-permission {
            .url-canonica {
                max-width: 770px;
            }
        }
    }
    .detail-action {
        background-color: rgba(0, 149, 255, 0.1);
        font-family: $font-regular;
        font-size: $font-18;
        color: $official-blue;
        display: inline-block;
        padding: 5px 11px;
        margin-bottom: 6px;
        width: 183px;
        text-align: left;
        i {
            float: left;
            margin-right: 10px;
        }
        &.deactivate {
            cursor: default;
            color: rgba($official-blue, 0.25);
            pointer-events: none;
            text-decoration: none;
            i {
                color: rgba($official-blue, 0.25);
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.institution-detail {
    border-bottom: 1px solid $official-grey;
    background-color: rgba(255, 255, 255, 1);
    h2 {
        font-size: $font-24;
        margin-top: 13px;
        margin-bottom: 16px;
        color: $official-blue;
    }
    select {
        max-width: 470px;
    }
    .select2-container {
        padding-top: 6px;
        float: right;
    }
    .select2 span,
    .select2 li {
        font-size: $font-18;
    }
    span.select2-selection {
        background-color: rgba(255, 255, 255, 1);
    }
}

.panel-error {
    min-height: 150px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(240, 65, 57, 1);
    h1 {
        padding-top: 10px;
        font-size: $font-24;
        font-family: $font-bold;
        text-transform: uppercase;
    }
    p {
        max-width: 80%;
        margin: 0 auto;
    }
    .actions {
        overflow: hidden;
        display: inline-block;
        margin: 15px 0px 10px 0px;
        form {
            display: inline;
        }
        .btn {
            width: 90px;
            margin-right: 10px;
            font-size: $font-14;
        }
    }
    button {
        outline: 0px;
    }
}

.wrapper-operation {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
}

.operation,
.console {
    transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.container-verbs {
    float: left;
    width: 85px;
    padding: 0px;
    display: inline-block;
    .header {
        display: block;
        overflow: hidden;
        line-height: 30px;
        padding: 18px 19px 13px 17px;
        border-bottom: 1px solid rgba(203, 203, 203, 1);
        h3 {
            display: none;
            font-size: $font-18;
            font-family: $font-bold;
            color: $dark-black-text;
        }
    }
    .list-operations {
        li {
            padding-top: 5px;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 149, 255, 0.15);
            }
            a {
                label {
                    float: left;
                    width: 40px;
                    cursor: pointer;
                    margin-right: 5px;
                    padding-left: 8px;
                    padding-right: 8px;
                    &.danger {
                        padding: 2px;
                    }
                }
                .path {
                    float: left;
                    width: 163px;
                    display: none;
                    text-align: left;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 3px 0px 0px 0px;
                }
            }
        }
    }
    &.in {
        width: 256px;
        .header {
            h3 {
                display: inline;
                padding: 18px 9px 13px 4px;
            }
        }
        .list-operations {
            li {
                a {
                    .path {
                        display: inline;
                    }
                }
            }
        }
        i {
            float: right;
            transform: inherit;
        }
    }
    i {
        float: none;
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        color: $dark-black-text;
        background-color: rgba(240, 240, 240, 1);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.container-service {
    position: relative;
    display: inline-block;
    border-left: 1px solid rgba(203, 203, 203, 1);
    &.console-full {
        background-color: rgba(234, 234, 234, 1);
    }
    .operation {
        left: 0px;
        width: 50%;
        float: left;
        height: 100%;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        background-color: rgba(255, 255, 255, 1);
        padding: 0px;
        .inner-operation {
            padding: 20px 30px 30px 30px;
        }
        .collapseConsole {
            width: 170px;
            font-size: $font-18;
            margin-bottom: 35px;
            display: inline-block;
        }
        .btn.disabled,
        .btn[disabled],
        fieldset[disabled] .btn {
            cursor: default;
        }
        &.in {
            width: 100%;
            display: inline-block;
        }
        &.out {
            width: 0px;
            overflow: hidden;
        }
        h2 {
            margin-bottom: 30px;
            font-size: $font-24;
            color: $dark-black-text;
            font-family: $font-bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &.subtitle {
                padding: 0px;
                margin: 20px 0px 3px 0px;
                text-transform: uppercase;
            }
            label {
                margin-top: 2px;
                vertical-align: middle;
            }
        }
        h3 {
            padding-bottom: 10px;
            margin: 20px 0px 0px 0px;
        }
        .description-summary {
            margin-bottom: 15px;
            p {
                display: block;
                overflow: hidden;
                margin-bottom: 5px;
                white-space: normal;
                font-size: $font-18;
                font-family: $font-regular;
            }
        }
        & > .schema-panel-set.detail {
            padding: 0px;
            background: transparent;
        }
        .subtitle-service {
            margin: 20px 0px 13px 0px;
            padding: 0px 0px 7px 0px;
            overflow: hidden;
            border-bottom: 1px solid rgba(232, 232, 232, 1) !important;
            div {
                margin: 0px;
                padding: 0px;
                h3 {
                    margin: 0px;
                    padding: 0px;
                    border: none;
                }
            }
        }
    }
    .bullet-required {
        line-height: 0px;
        margin-top: 16px;
        display: block;
        &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 10px;
            display: inline-block;
            background-color: rgba(100, 230, 80, 1);
            border: 1px solid rgba(100, 230, 80, 1);
        }
    }
}

.responses {
    .schema-panel-set.detail {
        h3 {
            margin: 20px 0px 0px 0px;
        }
    }
}

.console {
    top: 0px;
    width: 0px;
    right: 0px;
    height: 100%;
    position: absolute;
    background-color: rgba(234, 234, 234, 1);
    &.in {
        right: 0px;
        width: 50%;
        position: relative;
        display: inline-block;
    }
    &.full {
        width: 100%;
        position: relative;
    }
    .inner-console {
        padding: 20px 30px 30px 30px;
        .title {
            display: block;
            overflow: hidden;
            margin-bottom: 10px;
            padding: 20px 0px 30px 0px;
            border-bottom: 1px solid rgba(202, 202, 202, 1);
            i {
                cursor: pointer;
            }
        }
        & > .schema-panel-set {
            padding: 0px;
            background: transparent;
        }
        .add-element {
            border: none;
            background-color: rgba(53, 59, 75, 1);
        }
        .nav-tabs {
            li {
                width: 50%;
                text-align: center;
                border: 1px solid rgba(80, 87, 103, 1);
                a {
                    margin: 0px;
                    padding: 10px 20px;
                    font-family: $font-regular;
                    color: rgba(80, 87, 103, 1);
                }
                &.active {
                    a {
                        font-family: $font-regular;
                        color: rgba(255, 255, 255, 1);
                        background-color: rgba(80, 87, 103, 1);
                    }
                }
            }
        }
        .schema-panel-set {
            padding: 0px;
            background-color: transparent;
        }
        hr {
            border-top: 1px solid rgba(174, 174, 174, 1);
        }
        .bullet-required {
            margin-top: 13px;
        }
        .btn {
            min-width: 150px;
            margin-top: 20px;
            font-size: $font-18;
        }
    }
    .console-parameter-group {
        margin-bottom: 35px;
        ul.nav-tabs {
            margin-bottom: 10px;
        }
        li.display-tab {
            cursor: pointer;
        }
        li.display-tab.active {
            cursor: default;
        }
    }
    .raw-json {
        width: 100%;
        height: 250px;
        margin-top: 15px;
    }
    .subtitle {
        display: block;
        overflow: hidden;
        line-height: 0px;
        vertical-align: middle;
        margin: 25px 0px 7px 0px;
        div {
            margin: 0px;
            padding: 0px;
            line-height: 20px;
            h3 {
                display: inline;
            }
        }
    }
}

#modalDownloadCode {
    .modal-dialog {
        max-width: 430px;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }
    h1 {
        margin: 0px;
        font-size: 24px;
        color: $official-blue;
        font-family: $font-bold;
    }
    h4 {
        font-size: $font-13;
        font-family: $font-regular;
    }
    label {
        font-family: $font-bold;
    }
    .modal-header {
        padding: 15px;
    }
    .modal-content {
        border-radius: 0px;
    }
    .modal-footer {
        padding: 10px;
    }
}

#modalServiceRejected {
    @extend #modalDownloadCode;
    h3 {
        margin: 0px 0px 5px 0px;
        font-size: $font-18;
    }
    textarea {
        width: 100%;
        outline: 0px;
        height: 127px;
        border: 1px solid rgba(210, 210, 210, 1);
    }
}

//Home services ( tab lists )
.intro-services-home {
    font-size: $font-14;
}

.list-services-home {
    margin: 30px 0px 0px 0px;
    .tab-content {
        background-color: rgba(255, 255, 255, 1);
    }
    .tab-pane {
        padding: 35px 0px;
    }
}
