@font-face {
    font-family: 'gobclregular';
    src: font-url('gobcl_regular-webfont.eot');
    src: local('gobclregular'), font-url('gobcl_regular-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_regular-webfont.woff2') format('woff2'), font-url('gobcl_regular-webfont.woff') format('woff'), font-url('gobcl_regular-webfont.ttf') format('truetype'), font-url('gobcl_regular-webfont.svg#gobclregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobcllight';
    src: font-url('gobcl_light-webfont.eot');
    src: local('gobcllight'), font-url('gobcl_light-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_light-webfont.woff2') format('woff2'), font-url('gobcl_light-webfont.woff') format('woff'), font-url('gobcl_light-webfont.ttf') format('truetype'), font-url('gobcl_light-webfont.svg#gobcllight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobclheavy';
    src: font-url('gobcl_heavy-webfont.eot');
    src: local('gobclheavy'), font-url('gobcl_heavy-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_heavy-webfont.woff2') format('woff2'), font-url('gobcl_heavy-webfont.woff') format('woff'), font-url('gobcl_heavy-webfont.ttf') format('truetype'), font-url('gobcl_heavy-webfont.svg#gobclheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobclbold';
    src: font-url('gobcl_bold-webfont.eot');
    src: local('gobclbold'), font-url('gobcl_bold-webfont.eot?#iefix') format('embedded-opentype'), font-url('gobcl_bold-webfont.woff2') format('woff2'), font-url('gobcl_bold-webfont.woff') format('woff'), font-url('gobcl_bold-webfont.ttf') format('truetype'), font-url('gobcl_bold-webfont.svg#gobclbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: $gray-background;
    font-family: $font-light;
    color: $gray-text;
    font-size: 16px;
    &.schema_versions_show {
        background-image: url('bg.jpg');
        background-repeat: repeat-y;
        background-position: center;
    }
}

.main-container {
    min-height: 560px;
    margin-bottom: 60px;
    padding: 0px;
}

.form-container {
    input,
    .input-group {
        margin-bottom: 10px;
    }
}

//schemas
.schema-wrapper {
    text-align: center;
    &.text-left {
        text-align: left;
    }
}

.schema-box-container {
    text-align: left;
    width: auto;
    display: inline-block;
    overflow: hidden;
    max-width: 880px;
    width: 880px;
}

.box-schema {
    margin: 0px 5px 20px 5px;
    border-radius: 4px;
    background: white;
    display: inline-block;
    max-width: 280px;
    width: 280px;
    text-align: left;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    .title {
        color: white;
        height: 77px;
        max-height: 77px;
        overflow: hidden;
        padding: 17px;
        line-height: 21px;
        font-size: 2rem;
        font-family: $font-regular;
        border-radius: 4px 4px 0px 0px;
        background-color: $schemas-background-color;
        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .body {
        padding: 17px;
        font-size: 1.4rem;
        min-height: 130px;
        height: 130px;
        overflow: hidden;
        font-family: $font-regular;
        span {
            font-family: $font-bold;
        }
    }
    &.filtered {
      display: none;
    }
}

.instance-panel {
    width: 100%;
    height: 280px;
    padding: 50px 0px;
    margin-bottom: 60px;
    background-color: $official-blue;
    #search-schemas {
        max-width: 560px;
        background: white;
        .input-group {
            width: 100%;
        }
    }
    h1 {
        font-size: 3.5rem;
        color: white;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    //search-box-input
    .inner-addon {
        position: relative;
        .glyphicon {
            position: absolute;
            pointer-events: none;
            font-size: 25px;
            padding: 27px;
            color: rgba(175, 175, 175, 1);
        }
    }
    .right-addon {
        .glyphicon {
            right: 0px;
        }
        input {
            padding-right: 30px;
        }
    }
    .left-addon {
        .glyphicon {
            left: 0px;
        }
        input {
            padding-left: 30px;
        }
    }
    .container-form {
        float: none;
        margin: 0 auto;
    }
    &.schema-detail {
        background-color: rgba(161, 216, 255, 1);
        color: rgba(113, 123, 127, 1);
        font-family: $font-regular;
        z-index: 999;
        transition: height 500ms, background 500ms;
        .category-icon {
            background-color: transparent;
            box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.20);
            border-radius: 13px;
            padding: 25px;
            display: inline-block;
            margin-right: 60px;
        }
        h2,
        h3,
        h4 {
            margin-top: 0px;
        }
        p {
            max-width: 495px;
        }
    }
}

#search-schema {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.20);
    border-radius: 100px;
    padding-left: 66px;
    font-size: 22px;
    &::-webkit-input-placeholder {
        color: rgba(197, 197, 197, 1);
        /* Webkit */
    }
    &:-moz-placeholder {
        color: rgba(197, 197, 197, 1);
        /* Firefox 18- */
    }
    &::-moz-placeholder {
        color: rgba(197, 197, 197, 1);
        /* Firefox 19+ */
    }
    &:-ms-input-placeholder {
        color: rgba(197, 197, 197, 1);
        /* IE */
    }
}

.new-schemas-container {
    padding: 0px 90px;
    input {
        max-width: 473px;
    }
}


/* File Schema Upload*/

.box-new-schema-file {
    height: 120px;
    margin: 15px auto 0px auto;
    color: #FFFFFF;
    max-width: 690px;
    border-radius: 13px;
    letter-spacing: 0px;
    border: 1px solid #FFFFFF;
    font-family: $font-regular;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.20);
    .box-title {
        display: inline-block;
        font-size: 3rem;
        padding: 43px 34px;
        float: left;
        width: 49%;
        line-height: 3rem;
        span {
            float: left;
            font-size: 7rem;
            font-family: $font-light;
        }
        p {
            padding: 0px 0px 0px 23px;
            margin: 0px;
            text-align: left;
            margin-left: 23px;
        }
    }
    span#select-file {
        border: none;
        @include bootstrap-btns($official-red,
        18%);
    }
    .box-input-file {
        width: 48%;
        max-width: 48%;
        display: block;
        overflow: hidden;
        text-align: left;
        padding: 40px 0px 36px 20px;
    }
    input.form-control {
        border: none;
        color: white;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.20);
    }
    label.input-group-btn {
        text-align: right;
        padding-right: 25px;
    }
    #input-file {
        display: none;
        border-radius: 6px;
        width: 280px;
        max-width: 280px;
        padding-top: 7px;
        vertical-align: middle;
    }
    #remove-file {
        display: none;
        float: right;
        margin: 0px;
        padding: 0px;
        font-size: 2rem;
        line-height: 42px;
        cursor: pointer;
    }
}

h3,
h4 {
    &.col-title {
        font-family: $font-bold;
        margin: 0px 0px 5px 0px;
    }
}

ul.list-categories {
    list-style: none;
    padding: 5px 0px 15px 0px;
    li {
        font-family: $font-regular;
        font-size: 2rem;
        line-height: 2rem;
        padding: 8px;
        margin-bottom: 1px;
        color: $gray-text;
        a {
            display: block;
            cursor: pointer;
            color: $gray-text;
            &:hover {
                text-decoration: none;
                background-color: transparent;
                color: $gray-text;
            }
        }
        &:hover {
            background: rgba(0, 105, 180, 0.10);
            border: 1px solid rgba(0, 105, 179, 0.10);
            border-radius: 6px;
        }
        &.active {
            background: rgba(106, 193, 255, 1);
            border: 1px solid rgba(0, 105, 179, 0.10);
            border-radius: 6px;
            a {
                color: white;
            }
        }
    }
}

.no-gutter,
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

//schema detail
.container-schema-list {}

.container-schema-detail {
    padding: 0px 40px 0px 60px;
    color: rgba(94, 94, 94, 1);
    h1 {
        font-family: $font-regular;
        font-size: 3.5rem;
        color: rgba(94, 94, 94, 1);
        .btn {
            padding: 2px 22px;
            font-size: 2rem;
            vertical-align: top;
            margin-left: 10px;
            pointer-events: none;
        }
    }
    strong {
        color: rgba(94, 94, 94, 1);
        font-family: $font-bold;
    }
    .url-canonica {
        span {
            padding: 20px;
            display: block;
            max-width: 100%;
            overflow: hidden;
            font-size: 1.5rem;
            border-radius: 4px;
            white-space: nowrap;
            letter-spacing: 0px;
            text-overflow: ellipsis;
            background: rgba(246, 246, 246, 1);
            a {
                text-decoration: none;
            }
        }
    }
    .history-version {
        margin-bottom: 30px;
        a {
            text-decoration: underline;
            &:first-child {
                margin-right: 10px;
            }
        }
        .btn {
            float: right;
            text-decoration: none;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 2.2rem;
        color: rgba(94, 94, 94, 1);
        font-family: $font-bold;
    }
}

.container-schema-action {
    padding: 10px 12px;
    .btn {
        width: 100%;
        font-size: 1.8rem;
        margin-bottom: 12px;
    }
}

//schema panel set component
@import "components/_schemas-component.scss";
