//Agreements partial stylesheet

.fila-not-readed{
  td, th{
    font-family: $font-bold;
  }
}

.label-not-readed,
.label-readed{
  font-family: $font-bold;
  color: $official-blue;
  display: block;
  width: 130px;
  i,p{
    display: block;
    float: left;
  }
  p{
    margin-left: 5px;
    padding-top: 4px;
  }
}

.label-readed{
  color: $official-green;
}

.with-mock{
  line-height: 20px; 
  vertical-align: middle;
  margin-bottom: 35px;
  display: inline-block;
  margin-left: 10px;
}

.content-pages{
  table{
    tbody{
      tr:hover{
        td{
          cursor: pointer;
          background: rgba(0, 108, 183, 0.05);
        }
      }
    }
  }
}
