//colors
$official-blue: rgba(0, 108, 183, 1);
$official-red: rgba(239, 65, 68, 1);
$gray-background: rgba(249, 249, 249, 1);
$gray-text: rgba(117, 117, 117, 1);
$btn-static-color: rgba(147, 147, 147, 1);
$btn-action-color: rgba(240, 65, 67, 1);

$font-regular: gobclregular, Tahoma, Verdana, Segoe, sans-serif;
$font-light: gobcllight, Tahoma, Verdana, Segoe, sans-serif;
$font-bold: gobclbold, Tahoma, Verdana, Segoe, sans-serif;
$font-heavy: gobclheavy, Tahoma, Verdana, Segoe, sans-serif;