%tr{"data-link" => '/agreements/show'}
	%td Minsal
	%td
		%ul
			%li Rol Unico
			%li Licencia de Enseñanza Media
			%li Fecha de inicio de actividades
	%td
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed suscipit urna, sed molestie orci. Integer pharetra eget ligula elementum ultricies. Suspendisse blandit id odio eget molestie
	%td 2/08/2016
	%td
		%span.label-green
			En Trámite
