%p
  Solicitante:
  %strong Servicio de Impuestos Internos
%p
  Proveedor:
  %strong Ministerio Secretaría General de la Presidencia
%p
  Fecha de solicitud:
  %strong 10/06/2016
%br
%p
  %strong Servicios involucrados
%ul
  %li Fecha de inicio de actividades
  %li Dirección empleador
  %li Declaraciones patrimoniales
%br
%p
  %strong
    Propósito:
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed suscipit urna, sed molestie orci. Integer pharetra eget ligula elementum ultricies. Suspendisse blandit id odio eget molestie. Mauris risus orci, tempor eu nunc vitae, iaculis molestie diam. Vestibulum et massa eu lorem placerat efficitur id at mi. Fusce posuere nisi quis augue congue, eget varius mauris feugiat.
