.box.next-step
  .header-box
    %span Estado del convenio
    %span.btn-status.blue En trámite
  .body-box
    .event
      %p
        %strong Próximo Paso
        %br Revisión borrador Fiscal
      %p
        Responsable: Alberto Fuenzalida
        %br
        Contacto: alberto@mail.com

