.btn {
    border-radius: 0px;
}

//default bootstrap colors
.btn-default {
    @include bootstrap-btns(#ccc, 18%);
}

.btn-primary {
    @include bootstrap-btns($brand-primary, 18%);
}

.btn-success {
    @include bootstrap-btns($brand-success, 18%);
}

.btn-info {
    @include bootstrap-btns($brand-info, 18%);
}

.btn-warning {
    @include bootstrap-btns($brand-warning, 18%);
}

.btn-danger {
    @include bootstrap-btns($brand-danger, 18%)
}

//e-gob buttons
.btn-static {
    color: white;
    background-color: $btn-static-color;
    @include bootstrap-btns($btn-static-color, 18%);
    &:hover {
        background-color: darken($btn-static-color, 10%);
        color: white;
    }
    &:active,
    &:focus {
        color: white;
    }
}

.btn-action {
    color: white;
    background-color: $btn-action-color;
    @include bootstrap-btns($btn-action-color, 18%);
    &:hover {
        background-color: darken($btn-action-color, 10%);
        color: white;
    }
    &:active,
    &:focus {
        color: white;
    }
}
