.btn {
    border-radius: 0px;
    &:focus {
        //chrome outline hack
        outline: none !important;
    }
}

//default bootstrap colors
.btn-default {
    @include bootstrap-btns(#ccc, 18%);
}

.btn-primary {
    @include bootstrap-btns($brand-primary, 18%);
}

.btn-success {
    @include bootstrap-btns($brand-success, 18%);
}

.btn-info {
    @include bootstrap-btns($brand-info, 18%);
}

.btn-warning {
    @include bootstrap-btns($brand-warning, 18%);
}

.btn-danger {
    @include bootstrap-btns($brand-danger, 18%)
}

//e-gob buttons
.btn-static {
    color: white;
    background-color: $btn-static-color;
    @include bootstrap-btns($btn-static-color, 18%);
    &:hover {
        background-color: darken($btn-static-color, 10%);
        color: white;
    }
    &:active,
    &:focus {
        color: white;
    }
}

.btn-action-red {
    @extend .btn-static;
    background-color: $official-red;
    @include bootstrap-btns($official-red, 18%);
    &:hover {
        background-color: darken($official-red, 10%);
    }
    &.gradient {
        @include bootstrap-btns-gradient(-180deg, rgba(67, 143, 213, 1), 0, rgba(32, 86, 171, 1), 100);
    }
}

.btn-action-blue {
    @extend .btn-static;
    background-color: $official-blue;
    @include bootstrap-btns($official-blue, 18%);
    &:hover {
        background-color: darken($official-blue, 10%);
    }
    &.gradient {
        @include bootstrap-btns-gradient(-180deg, rgba(67, 143, 213, 1), 0, rgba(32, 86, 171, 1), 100);
    }
}

//tiny buttons
.btn-tiny {
    background-color: transparent;
    border-radius: 0px;
    border-bottom: none;
    &.blue {
        @include bootstrap-tiny-btns($official-blue);
    }
    &.red {
        @include bootstrap-tiny-btns($official-red);
    }
    &.static {
        @include bootstrap-tiny-btns($btn-static-color);
    }
    &.default {
        @include bootstrap-tiny-btns(darken(rgba(255, 255, 255, 1), 18%));
    }
    &.primary {
        @include bootstrap-tiny-btns($brand-primary);
    }
    &.success {
        @include bootstrap-tiny-btns($brand-success);
    }
    &.info {
        @include bootstrap-tiny-btns($brand-info);
    }
    &.warning {
        @include bootstrap-tiny-btns($brand-warning);
    }
    &.danger {
        @include bootstrap-tiny-btns($brand-danger);
    }
}

.btn-status {
    @extend .btn-tiny;
    font-size: 12px;
    min-width: 40px;
    min-height: 17px;
    text-align: center;
    border-radius: 0px;
    text-transform: uppercase;
}

.round {
    border-radius: 24px;
}
