.input-group-btn {
    .btn-default {
        border-color: #ccc;
    }
    .btn-primary {
        border-color: $brand-primary;
    }
    .btn-success {
        border-color: $brand-success;
    }
    .btn-info {
        border-color: $brand-info;
    }
    .btn-warning {
        border-color: $brand-warning;
    }
    .btn-danger {
        border-color: $brand-danger;
    }
    .btn-static {
        border-color: $btn-static-color;
    }
    .btn-action-red {
        border-color: $official-red;
    }
    .btn-action-blue {
        border-color: $official-blue;
    }
}

// bootstrap select2
.input-group-btn .btn,
span.input-group-addon,
input.form-control,
select.form-control,
.input-group .input-group-addon,
.select2-selection--single.input-lg {
    border-bottom-width: 1px;
    border-color: $border-input-color;
    border-radius: 0px;
}

.input-group input,
input.form-control {
    border-radius: 6px;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
    margin-right: -2px;
}

.select2-selection--single.input-lg,
span.select2-selection.select2-selection--multiple.form-control,
span.select2-selection.select2-selection--multiple.select2 {
    border-color: $border-input-color;
}

.select2-container--bootstrap .select2-selection {
    color: $gray-text;
    font-family: inherit;
}
