.input-group-btn {
    .btn-default {
        border-color: #ccc;
    }
    .btn-primary {
        border-color: $brand-primary;
    }
    .btn-success {
        border-color: $brand-success;
    }
    .btn-info {
        border-color: $brand-info;
    }
    .btn-warning {
        border-color: $brand-warning;
    }
    .btn-danger {
        border-color: $brand-danger;
    }
    .btn-static {
        border-color: $btn-static-color;
    }
    .btn-action-red {
        border-color: $official-red;
    }
    .btn-action-blue {
        border-color: $official-blue;
    }
}

.input-group-btn .btn,
span.input-group-addon,
input.form-control,
select.form-control,
.input-group .input-group-addon {
    border-bottom-width: 1px;
    border-color: #979797;
    border-radius: 0px;
}

.input-group input{
    border-radius: 6px;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
    margin-right: -2px;
}
