.container
  .row
    .col-md-2.container-schema-list.no-gutter
      %h1 COL 1
    .col-md-8.container-schema-detail
      %h1 Nombre de Esquema
      %p <strong>Descripción:</strong> Estructura de la información para la respuesta a la consulta<br>"información personal" realizada al SRCel.
      .schema-panel-set
        .panel-group
          .panel.panel-schema
            .panel-heading
              .panel-title.required
                %a{"data-toggle" => "collapse-next"}
                  %span.dot
                  panel 1
            .panel-collapse.collapse
              .panel-body
                .panel-group
                  .panel.panel-schema
                    .panel-heading
                      .panel-title.optional
                        %a{"data-toggle" => "collapse-next"}
                          %span.dot
                          nombre
                  .panel.panel-schema
                    .panel-heading
                      .panel-title.optional
                        %a{"data-toggle" => "collapse-next"}
                          %span.dot
                          nombre
                    .panel-collapse.collapse
                      .panel-body 
                        .panel-group
                          .panel.panel-schema
                            .panel-heading
                              .panel-title.optional
                                %a{"data-toggle" => "collapse-next"}
                                  %span.dot
                                  nombre
                          .panel.panel-schema
                            .panel-heading
                              .panel-title.optional
                                %a{"data-toggle" => "collapse-next"}
                                  %span.dot
                                  nombre
                            .panel-collapse.collapse
                              .panel-body 
                                .panel.panel-schema
                                  .panel-heading
                                    .panel-title.optional
                                      %a{"data-toggle" => "collapse-next"}
                                        %span.dot
                                        nombre
                                  .panel-collapse.collapse
                                    .panel-body
                                      .panel.panel-schema
                                        .panel-heading
                                          .panel-title.optional
                                            %a{"data-toggle" => "collapse-next"}
                                              %span.dot
                                              nombre
                                        .panel-collapse.collapse
                                          .panel-body 
                                            .panel.panel-schema
                                              .panel-heading
                                                .panel-title.optional
                                                  %a{"data-toggle" => "collapse-next"}
                                                    %span.dot
                                                    nombre - nivel 8
                                              .panel-collapse.collapse
                                                .panel-body 
                                                  .panel.panel-schema
                                                    .panel-heading
                                                      .panel-title.optional
                                                        %a{"data-toggle" => "collapse-next"}
                                                          %span.dot
                                                          nombre - nivel 9 - extra
                                                    .panel-collapse.collapse
                                                      .panel-body 
                                                        .panel.panel-schema
                                                          .panel-heading
                                                            .panel-title.optional
                                                              %a{"data-toggle" => "collapse-next"}
                                                                %span.dot
                                                                nombre - nivel 10 - extra
                                                          .panel-collapse.collapse
                                                            .panel-body 
                                                              .panel.panel-schema
                                                                .panel-heading
                                                                  .panel-title.optional
                                                                    %a{"data-toggle" => "collapse-next"}
                                                                      %span.dot
                                                                      nombre - nivel 11 - extra
                                                              .panel-collapse.collapse
                                                                .panel-body 
                                                                  .panel.panel-schema
                                                                    .panel-heading
                                                                      .panel-title.optional
                                                                        %a{"data-toggle" => "collapse-next"}
                                                                          %span.dot
                                                                          nombre - nivel 12 - extra
                                                                    .panel-collapse.collapse
                                                                      .panel-body 
                                                                        .panel.panel-schema
                                                                          .panel-heading
                                                                            .panel-title.optional
                                                                              %a
                                                                                %span.dot
                                                                                nombre - nivel 13 - extra - final
        .panel-group
          .panel.panel-schema
            .panel-heading
              .panel-title.required
                %a{"data-toggle" => "collapse-next"}
                  %span.dot
                  nombre
        .panel-group
          .panel.panel-schema
            .panel-heading
              .panel-title.required
                %a{"data-toggle" => "collapse-next"}
                  %span.dot
                  nombre
            .panel-collapse.collapse
              .panel-body
                .panel-group
                  .panel.panel-schema
                    .panel-heading
                      .panel-title.optional
                        %a{"data-toggle" => "collapse-next"}
                          %span.dot
                          nombre

    .col-md-2.container-schema-action.no-gutter
      %a.btn.btn-action-red{:href => "#", :role => "button"} Ver OAS
      .box-code-example
        %h3 Ejemplo
        .code-example