.row
  .col-md-12
    .box-search-schemas
      .container
        .col-md-12{:class => "text-center"}
.container
  .row
    .col-md-2.box-col-categories
      %h3
        Categorías
      %ul
        %li 
          %a Categoría 1        
        %li 
          %a Categoría 2        
        %li 
          %a Categoría 3        
        %li 
          %a Categoría 4        
        %li 
          %a Categoría 5        
        %li 
          %a Categoría 6        
        %li 
          %a Categoría 7
      %br 
        = link_to 'Nuevo Schema', new_schema_path
    .col-md-10
      - @schemas.each do |schema|
        .box-schema
          .title
            %a{href: "#"}
              = schema.name
          .body
            %span 
              Descripción: 
            Estructura de la información para la respuesta a la consulta "información personal" realizada al SRCel.
         